<div class="card">
  
  {% if item.image_url %}
      
      <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.title }}">
      
  {% else %}
      <img src="../../static/img/img-post-blog-scielo-exemplo.jpg" class="card-img-top" alt="{{ item.title }}">
  {% endif %}
  
  <div class="card-body">

      <div class="h6 card-subtitle mb-1">{{ item.publication_date|datetimefilter }}</div>
      
      <strong class="card-title">
        {{ item.title }}
      </strong>
      <p class="card-text mt-2">
        {{ item.description|striptags|replace('Read More →', '')|truncate(70) }}
      </p>

      <a href="{{ item.url }}" target="_blank" class="btn btn-secondary d-block mb-0">{% trans%}Continue lendo{% endtrans %}</a>
  </div>
  
</div>