<div class="modal fade ModalDefault"
     id="ModalDownloads"
     tabindex="-1"
     role="dialog"
     aria-modal="true"
     aria-labelledby="ModalDownloadsLabel"
     aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content"> 

      <div class="modal-header">
        <h2 class="h4 modal-title" id="ModalDownloadsLabel">
          {% trans %}Versão para download de PDF{% endtrans%}
        </h2>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="{% trans %}Fechar{% endtrans %}">
        </button>
      </div>

      <div class="modal-body">
        <div class="row modal-center">

          <div class="{% if config['READCUBE_ENABLED'] %}col-md-6{% else %}col-md-12{%endif%}">
            <span class="sci-ico-filePDF" aria-hidden="true"></span>
            <br/>
            <h3 class="h6">PDF</h3>

            <ul class="md-list">
            {% if article and article.pdfs %}
              {% for pdf in article.pdfs  %}
                <li>
                  <a target="_blank"
                     rel="noopener noreferrer"
                     aria-label="{% trans %}Baixar PDF em{% endtrans %} {% if pdf.lang == 'es' %}{% trans %}Espanhol{% endtrans %}{% elif pdf.lang == 'en' %}{% trans %}Inglês{% endtrans %}{% elif pdf.lang == 'pt' %}{% trans %}Português{% endtrans %}{% else %}{{ pdf.lang }}{% endif %} ({% trans %}abre em nova janela{% endtrans %})"
                     href="{{ url_for('.article_detail_v3', url_seg=article.journal.url_segment, article_pid_v3=article.aid, lang=pdf.lang, format='pdf') }}">

                    {% if pdf.lang == 'es' %}
                      {% trans %}Espanhol{% endtrans %}
                    {% elif pdf.lang == 'en' %}
                      {% trans %}Inglês{% endtrans %}
                    {% elif pdf.lang == 'pt' %}
                      {% trans %}Português{% endtrans %}
                    {% else %}
                      {{ pdf.lang }}
                    {% endif %}

                  </a>
                </li>
              {% endfor %}
            {% endif %}
            </ul>
          </div>

          {% if config['READCUBE_ENABLED'] and article.doi and article.pid %}
            <div class="col-md-6">
              <span class="glyphBtn readcubeViewMid" aria-hidden="true"></span>
              <br/>
              <h3 class="h6">ReadCube</h3>
              <ul class="md-list">
                <li class="colspan3">
                  <a href="" aria-label="{% trans %}Visualizar o texto no ReadCube{% endtrans %}">
                    {% trans %}Visualizar{% endtrans %} <br/>{% trans %}o texto{% endtrans %}
                  </a>
                </li>
              </ul>
            </div>
          {% endif %}

        </div>
      </div>

    </div>
  </div>
</div>