{% import 'macros/images.html' as cimages %}
{% import 'macros/collection.html' as coll_macro %}


<div class="alternativeHeader d-none d-sm-block d-md-block d-lg-block fixed-top" style="outline: 2px solid orange;">
  <div class="container">
    <div class="row">
      
      <div class="col-1">
        <a href="javascript:;" class="scielo__menu mt-4" data-rel="#mainMenu" title="Abrir menu">
          <span class="material-icons-outlined scielo-ico-menu" style="display: inline-block;">menu</span>
          <span class="material-icons-outlined scielo-ico-menu-opened" style="display: none;">menu_open</span>
        </a>
      </div>
      <div class="col --mainNav">
        
        <!--
        <a href="" class="menu" data-rel="#alternativeMainMenu" title="{% trans %}Abrir menu{% endtrans %}">{% trans %}Abrir menu{% endtrans %}</a>
        -->
        
        <a href="/" title="{% trans %}Ir para a homepage da coleção: {% endtrans %}{{ coll_macro.get_collection_name() }}">
          <div class="scielo__logo-scielo-collection mt-1">
            <small>Brasil</small>
          </div>
        </a>
        
       
      </div>
      <div class="col --journalInfo">
        
      
        <div class="dropdown mt-3">
          <button class="btn btn-link dropdown-toggle mb-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="truncate">{{ journal.title }} </span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a href="{{ url_for('.journal_detail', url_seg=journal.url_segment) }}" class="dropdown-item">
                {% if journal.logo_url %}
                  <img src="{{ cimages.proxy_ssm_resource_url(journal.logo_url) }}" class="image" alt="Logomarca do periódico: {{ journal.title }}" />
                {% endif %}
              </a>
            </li>
            {% if journal.online_submission_url and journal.current_status == 'current' %}
              <li>
                <a href="{{ journal.online_submission_url|default('', true) }}" class="dropdown-item" target="_blank"><span class="material-icons-outlined">launch</span> {% trans %}Submissão de manuscritos{% endtrans %}</a>
              </li>
            {% endif %}
            <li>
              <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#about" class="dropdown-item"><span class="material-icons-outlined">info</span> {% trans %}Sobre o periódico{% endtrans %}</a>
            </li>
            <li>
              <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#editors" class="dropdown-item"><span class="material-icons-outlined">people</span> {% trans %}Corpo Editorial{% endtrans %}</a>
            </li>
            <li>
              <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#instructions" class="dropdown-item"><span class="material-icons-outlined">help_outline</span> {% trans %}Instruções aos autores{% endtrans %}</a>
            </li>
            <li>
              <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#contact" class="dropdown-item"><span class="material-icons-outlined">email</span> {% trans %}Contato{% endtrans %}</a>
            </li>
          </ul>
        </div>

      </div>
      <div class="col --journalMenu">
        <div class="language mt-3">
          {% include "includes/language.html" %}
        </div>
      </div>
    </div>
  </div>
</div>



<div class="alternativeHeader alternativeHeader-xs d-block d-sm-none d-md-none d-lg-none">
  <div class="container">
    <div class="row no-gutter">
      
      <div class="col-2 mainNav">
        <a href="" class="menu" data-rel="#alternativeMainMenu" title="{% trans %}Abrir menu{% endtrans %}">  {% trans %}Abrir menu{% endtrans %}
        </a>
        <div class="mainMenu" id="alternativeMainMenu">
          <div class="row">
            <div class="col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 logo logo-svg"></div>
          </div>
          <nav>
            <ul>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-6 text-center">
        
        <h2 class="logo-svg-mini">
          <a href="/" title="{% trans %}Ir para a homepage da coleção: {% endtrans %}{{ coll_macro.get_collection_name() }}">
            <span class="logo-collection logo-collection-svg-mini"><strong>{{ coll_macro.get_collection_name() }}</strong></span>
          </a>
        </h2>

      </div>
      <div class="col-4 language">
        {% include "includes/language.html" %}
      </div>

    </div>
    <div class="row">
      
      <div class="col-12 text-center journalNameMobile">
        
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="text"><span class="truncate">{{ journal.title }} </span><span class="sci-ico-arrowDown"></span></a>

        <ul class="dropdown-menu" role="menu">
            <div class="col-md-9 col-sm-8 brandLogo">
              <div class="row">
                <div class="col-12">
                  <a href="{{ url_for('.journal_detail', url_seg=journal.url_segment) }}">
                    {% if journal.logo_url %}
                      <img src="{{ cimages.proxy_ssm_resource_url(journal.logo_url) }}" class="image" alt="Logomarca do periódico: {{ journal.title }}" />
                    {% endif %}
                  </a>
                </div>
                <div class="col-12">
                  
                  <ul class="JournalMenuMobile">
                    {% if journal.online_submission_url and journal.current_status == 'current' %}
                      <li>
                        <a href="{{ journal.online_submission_url|default('', true) }}" target="_blank">
                          <span class="glyphBtn submission"></span> {% trans %}Submissão de manuscritos{% endtrans %}
                        </a>
                      </li>
                    {% endif %}
                    <li>
                      <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#about">
                        <span class="glyphBtn about"></span> {% trans %}Sobre o periódico{% endtrans %}
                      </a>
                    </li>
                    <li>
                      <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#editors">
                        <span class="glyphBtn editorial"></span> {% trans %}Corpo Editorial{% endtrans %}
                      </a>
                    </li>
                    <li>
                      <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#instructions">
                        <span class="glyphBtn authorInstructions"></span> {% trans %}Instruções aos autores{% endtrans %}
                      </a>
                    </li>
                    <li>
                      <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#contact">
                        <span class="glyphBtn contact"></span> {% trans %}Contato{% endtrans %}
                      </a>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
        </ul>
       

      </div>

    </div>
  </div>
</div>

