

<div class="container scielo--floatBar">
  <div class="row">
    <div class="col">

      <!-- Botão fixo para abrir o modal -->
      <button
        type="button"
        class="btn btn-primary btn-float-menu"
        data-bs-toggle="modal"
        data-bs-target="#menuModal"
        aria-controls="menuModal"
        aria-label="{% trans %}Abrir menu de ferramentas do artigo{% endtrans %}">
        <span class="material-icons-outlined mt-1" aria-hidden="true">more_horiz</span>
      </button>

        
      <a id="btnTop" class="btn btn-primary btn-float-gotop"
        data-bs-toggle="tooltip" title=""
        href="#top"
        data-bs-original-title="{% trans %}Ir para o topo{% endtrans %}" style="opacity: 1;">
        <span class="material-icons-outlined mt-2" aria-hidden="true">
          vertical_align_top
        </span>
      </a>

      <!-- Modal estreito -->
      <div class="modal fade" id="menuModal" tabindex="-1"
           role="dialog"
           aria-modal="true"
           aria-labelledby="menuModalLabel">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 280px;margin: 0 auto;">
          <div class="modal-content" role="document">

            <h2 id="menuModalLabel" class="visually-hidden">{% trans %}Ferramentas do artigo{% endtrans %}</h2>

            <div class="modal-body p-0">
              <ul class="list-group list-group-flush">

                <li class="list-group-item p-0">
                  <a href="#" class="px-3 py-2 text-decoration-none d-block"
                     data-mobile-tooltip="PDFs"
                     data-bs-toggle="modal"
                     data-bs-target="#ModalDownloads"
                     data-bs-dismiss="modal">
                    <span class="material-icons-outlined" aria-hidden="true">file_download</span>
                    PDFs
                  </a>
                </li>

                <li class="list-group-item p-0">
                  <a href="#" class="px-3 py-2 text-decoration-none d-block"
                     data-mobile-tooltip="Métricas"
                     data-bs-toggle="modal"
                     data-bs-target="#metric_modal_id"
                     data-bs-dismiss="modal">
                    <span class="material-icons-outlined" aria-hidden="true">show_chart</span>
                    {% trans %}Métricas{% endtrans %}
                  </a>
                </li>

                <li class="list-group-item p-0">
                  <a href="#" class="px-3 py-2 text-decoration-none d-block"
                     data-mobile-tooltip="{% trans %}Figuras e tabelas{% endtrans %}"
                     data-bs-toggle="modal"
                     data-bs-target="#ModalTablesFigures"
                     data-bs-dismiss="modal">
                    <span class="material-icons-outlined" aria-hidden="true">image</span>
                    Figuras e tabelas
                  </a>
                </li>

                <li class="list-group-item p-0">
                  <a href="#" class="px-3 py-2 text-decoration-none d-block"
                     data-mobile-tooltip="{% trans %}Versões e traduções{% endtrans %}"
                     data-bs-toggle="modal"
                     data-bs-target="#ModalVersionsTranslations"
                     data-bs-dismiss="modal">
                    <span class="material-icons-outlined" aria-hidden="true">translate</span>
                    {% trans %}Versões e traduções{% endtrans %}
                  </a>
                </li>

                <li class="list-group-item p-0">
                  <a href="#" class="px-3 py-2 text-decoration-none d-block"
                     data-mobile-tooltip="{% trans %}Como citar este artigo{% endtrans %}"
                     data-bs-toggle="modal"
                     data-bs-target="#ModalHowcite"
                     data-bs-dismiss="modal">
                    <span class="material-icons-outlined" aria-hidden="true">link</span>
                    {% trans %}Como citar este artigo{% endtrans %}
                  </a>
                </li>

                <li class="list-group-item p-0">
                  <a href="#" class="px-3 py-2 text-decoration-none d-block"
                     data-mobile-tooltip="{% trans %}Artigos relacionados{% endtrans %}"
                     data-bs-toggle="modal"
                     data-bs-target="#ModalRelatedArticles"
                     data-bs-dismiss="modal">
                    <span class="material-icons-outlined" aria-hidden="true">article</span>
                    {% trans %}Artigos relacionados{% endtrans %}
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>