{% import 'macros/images.html' as cimages %}
{% import 'macros/collection.html' as coll_macro %}

<style>

  /*
  Vale apenas para o article
  */
    body{  
        padding-top: 74px;
    }
    header{
        background: #fff;
    }

    .articleTxt{
        top: -16px;
    }

    @media (max-width: 575.98px) {
      
      .articleCtt > .container{
        padding-left: 0;
        padding-right: 0;
      }
      .articleCtt .articleTxt{
        padding-left: 16px !important;
        padding-right: 16px !important;
      }
    
    }

    @media (min-width: 768px){
      
      .scielo__truncate{
        display: block;
        max-width: 285px;
      }

    }

    .fixed-top .dropdown-item{
    color:#3867ce;
  }
    
</style>

<header class="fixed-top scielo__shadow-2">
    <div class="container">
        <div class="row">
            <div class="col-2 col-sm-1 d-print-none">
                {% include "collection/includes/nav.html" %}
            </div>
            <div class="col col-sm-3 --mainNav">
                <a href="/" title="{% trans %}Ir para a homepage da coleção: {% endtrans %}{{ coll_macro.get_collection_name() }}">
                    <div class="scielo__logo-scielo-collection mt-1">
                        <small>{{ coll_macro.get_collection_name() }}</small>
                    </div>
                </a>
            </div>
            <div class="d-none d-sm-block col">
                <div class="dropdown mt-3">
                    <button class="btn btn-link dropdown-toggle mb-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="text-truncate scielo__truncate">{{ journal.title }} </span>
                    </button>
                    <ul class="dropdown-menu scielo__shadow-2">
                      <li>
                        <a href="{{ url_for('.journal_detail', url_seg=journal.url_segment) }}" class="dropdown-item">
                          {% if journal.logo_url %}
                            <img src="{{ cimages.proxy_ssm_resource_url(journal.logo_url) }}" class="image" alt="Logomarca do periódico: {{ journal.title }}" />
                          {% endif %}
                        </a>
                      </li>
                      {% if journal.online_submission_url and journal.current_status == 'current' %}
                        <li>
                          <a href="{{ journal.online_submission_url|default('', true) }}" class="dropdown-item" target="_blank"><span class="material-icons-outlined">launch</span> {% trans %}Submissão de manuscritos{% endtrans %}</a>
                        </li>
                      {% endif %}
                      <li>
                        <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#about" class="dropdown-item"><span class="material-icons-outlined">info</span> {% trans %}Sobre o periódico{% endtrans %}</a>
                      </li>
                      <li>
                        <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#editors" class="dropdown-item"><span class="material-icons-outlined">people</span> {% trans %}Corpo Editorial{% endtrans %}</a>
                      </li>
                      <li>
                        <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#instructions" class="dropdown-item"><span class="material-icons-outlined">help_outline</span> {% trans %}Instruções aos autores{% endtrans %}</a>
                      </li>
                      <li>
                        <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#item2" class="dropdown-item"><span class="material-icons-outlined">help_outline</span> {% trans %}Política editorial{% endtrans %}</a>
                      </li>
                      <li>
                        <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#contact" class="dropdown-item"><span class="material-icons-outlined">email</span> {% trans %}Contato{% endtrans %}</a>
                      </li>
                    </ul>
                  </div>
            </div>
            <div class="col">
                <div class="language mt-3">
                  {% include "includes/language.html" %}
                </div>
            </div>
        </div>
        <div class="row d-block d-sm-none">
            <div class="col">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle mb-2 w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="truncate">{{ journal.title }} </span>
                </button>
                <ul class="dropdown-menu w-100">
                  <li>
                    <a href="{{ url_for('.journal_detail', url_seg=journal.url_segment) }}" class="dropdown-item">
                      {% if journal.logo_url %}
                        <img src="{{ cimages.proxy_ssm_resource_url(journal.logo_url) }}" class="image" alt="Logomarca do periódico: {{ journal.title }}" style="max-width:100%;" />
                      {% endif %}
                    </a>
                  </li>
                  {% if journal.online_submission_url and journal.current_status == 'current' %}
                    <li>
                      <a href="{{ journal.online_submission_url|default('', true) }}" class="dropdown-item" target="_blank"><span class="material-icons-outlined">launch</span> {% trans %}Submissão de manuscritos{% endtrans %}</a>
                    </li>
                  {% endif %}
                  <li>
                    <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#about" class="dropdown-item"><span class="material-icons-outlined">info</span> {% trans %}Sobre o periódico{% endtrans %}</a>
                  </li>
                  <li>
                    <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#editors" class="dropdown-item"><span class="material-icons-outlined">people</span> {% trans %}Corpo Editorial{% endtrans %}</a>
                  </li>
                  <li>
                    <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#instructions" class="dropdown-item"><span class="material-icons-outlined">help_outline</span> {% trans %}Instruções aos autores{% endtrans %}</a>
                  </li>
                  <li>
                    <a href="{{ url_for('.about_journal', url_seg=journal.url_segment) }}#contact" class="dropdown-item"><span class="material-icons-outlined">email</span> {% trans %}Contato{% endtrans %}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    </div>
</header>