          {% if article and article.pdfs|length == 1 %}
           
          <div class="btn-group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle mb-0" data-bs-toggle="dropdown" aria-expanded="false">
              PDF
            </button>
            <ul class="dropdown-menu menu-share-mobile">
              {% for pdf in article.pdfs  %}
                <li>
                  <a target='_blank' href="{{ url_for('.article_detail_v3', url_seg=article.journal.url_segment, article_pid_v3=article.aid, format='pdf', lang=article.pdfs[0].lang) }}" class="dropdown-item">
                    {% if pdf.lang == 'es' %}
                      {% trans %}Download PDF (Espanhol){% endtrans %}
                    {% elif pdf.lang == 'en' %}
                      {% trans %}Download PDF (Inglês){% endtrans %}
                    {% elif pdf.lang == 'pt' %}
                      {% trans %}Download PDF (Português){% endtrans %}
                    {% else %}
                      {{ pdf.lang }}
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          {% endif%}
          
          {% if config['READCUBE_ENABLED'] and article.doi and article.pid %}
            {% if article and article.pdfs|length == 1 %}
              <a href="{{ url_for('.article_epdf', doi=article.doi, pid=article.pid, pdf_path=article.pdfs[0].url, lang=article.pdfs[0].lang) }}" class="btn mb-0">
                <span class="sci-ico-filePDF"></span> ePDF
              </a>
            {% endif %}
          {% endif %}
          
          {% if article and article.pdfs|length > 1 %}

            {# PDF #}
            <div class="btn-group">
              <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle mb-0" data-bs-toggle="dropdown" aria-expanded="false">
                PDF
              </button>
              <ul class="dropdown-menu menu-share-mobile">
                {% for pdf in article.pdfs  %}
                  <li>
                    <a target='_blank' href="{{ url_for('.article_detail_v3', url_seg=article.journal.url_segment, article_pid_v3=article.aid, format='pdf', lang=pdf.lang) }}" class="dropdown-item">
                      {% if pdf.lang == 'es' %}
                        {% trans %}Download PDF (Espanhol){% endtrans %}
                      {% elif pdf.lang == 'en' %}
                        {% trans %}Download PDF (Inglês){% endtrans %}
                      {% elif pdf.lang == 'pt' %}
                        {% trans %}Download PDF (Português){% endtrans %}
                      {% else %}
                        {{ pdf.lang }}
                      {% endif %}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>

            {# ePDF #}
            {% if config['READCUBE_ENABLED'] and article.doi and article.pid %}

            <div class="btn-group">
              <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle mb-0" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-icons-outlined">share</span>
              </button>
              <ul class="dropdown-menu">
                {% for pdf in article.pdfs  %}
                  <li>
                    <a href="{{ url_for('.article_epdf', doi=article.doi, pid=article.pid, pdf_path=pdf.url, lang=pdf.lang) }}" class="dropdown-item">
                      {% if pdf.lang == 'es' %}
                        {% trans %}Download PDF (Espanhol){% endtrans %}
                      {% elif pdf.lang == 'en' %}
                        {% trans %}Download PDF (Inglês){% endtrans %}
                      {% elif pdf.lang == 'pt' %}
                        {% trans %}Download PDF (Português){% endtrans %}
                      {% else %}
                        {{ pdf.lang }}
                      {% endif %}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          {% endif %}