{% if article and text_versions %}


    <div class="btn-group">
      <button id="btnGroupDropTextLanguage" type="button" class="btn btn-secondary dropdown-toggle mb-0" data-bs-toggle="dropdown" aria-expanded="false">
        {% trans %}Texto{% endtrans %}
        {% for lang, text_lang, uri in text_versions  %}
          {% if not gs_abstract and lang == article_lang %}        
            {% if lang == 'es' %}
              (ES)
            {% elif lang == 'en' %}
              (EN)
            {% elif lang == 'pt' %}
              (PT)
            {% else %} 
              ({{ text_lang }})
            {% endif %}
          {% endif %}
        {% endfor %}
      </button>
      <ul class="dropdown-menu" aria-labelledby="btnGroupDropTextLanguage">
        {% for lang, text_lang, uri in text_versions  %}
        <li>
          {% if not gs_abstract and lang == article_lang %}
            <!-- página de texto -->
            <a href="#" class="current dropdown-item"> 
                {% trans %}Texto{% endtrans %}
                {% if lang == 'es' %}
                  ({% trans %}Espanhol{% endtrans %})
                {% elif lang == 'en' %}
                  ({% trans %}Inglês{% endtrans %})
                {% elif lang == 'pt' %}
                  ({% trans %}Português{% endtrans %})
                {% else %}
                  ({{ text_lang }})
                {% endif %}
            </a>
        {% else %}
            <a href="{{ uri }}" class="dropdown-item">
                {% trans %}Texto {% endtrans %}
                {% if lang == 'es' %}
                  ({% trans %}Espanhol{% endtrans %})
                {% elif lang == 'en' %}
                  ({% trans %}Inglês{% endtrans %})
                {% elif lang == 'pt' %}
                  ({% trans %}Português{% endtrans %})
                {% else %}
                  ({{ text_lang }})
                {% endif %}
            </a>
        {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>

  {% endif %}



