{% extends "issue/base.html" %}
{% import "macros/issue.html" as issue_macros %}

{% block title %}{% trans %}Fascículos{% endtrans %}:{{ journal.title }}{% endblock %}

{% block main_content %}

<!-- Only on mobile -->
 <section class="d-flex d-sm-none breadcrumb mt-3 mb-5 py-0 py-1">
  <div class="container px-0">
    <div class="row">
      <div class="col ps-0">

        <ol class="breadcrumb mb-0 ps-0">
          <li class="breadcrumb-item"><a href="{{ url_for('.collection_list') }}?status=current"><span class="material-icons-outlined">navigate_before</span> {% trans %}Periódicos{% endtrans %}</a></li>
        </ol>

      </div>
      <div class="col-3 pt-3">
    
        <!-- share --> 
        {% include "includes/share.html" %}
      
      </div>
    </div>
  </div>
</section>

  <section class="d-none d-sm-flex breadcrumb mt-3 mb-5 py-0 py-1">
    <div class="container">
      <div class="row">
        <div class="col">

          <ol class="breadcrumb mb-0 ps-0">
            <li class="breadcrumb-item"><a href="{{ url_for('.index') }}" alt="{% trans %}Home{% endtrans %}"><span class="material-icons-outlined">home</span></a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('.collection_list') }}?status=current">{% trans %}Periódicos{% endtrans %}</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('.journal_detail', url_seg=journal.url_segment) }}">{{ journal.title }}</a></li>
            <li class="breadcrumb-item">{% trans %}Todos os números{% endtrans %}</li>
          </ol>
          
        </div>
        <div class="col-3 pt-3">
      
          <!-- share --> 
          {% include "includes/share.html" %}
        
        </div>
      </div>
    </div>
  </section>

  <section class="journalContent">
    <div class="container">
      <div class="row">
        
        <div class="col content issueList" id="issueList">
          <h2 class="scielo__text-title--4">{% trans %}Todos os números{% endtrans %}</h2>
          {% if result_dict or ahead %}
            <table class="table table-hover mb-5">
              <caption class="visually-hidden">Fasciculos</caption>
              <thead>
                <tr>
                  <th class="col-1">{% trans %}Ano{% endtrans %}</th>
                  <th class="col-1 table-active">{% trans %}Volume{% endtrans %}</th>
                  <th class="col-10 left">{% trans %}Número{% endtrans %}</th>
                </tr>
              </thead>
              <tbody>
                {% if ahead %}
                  <tr>
                    <td> - </td>
                  <th> - </th>
                  <td class="left">
                    <span class="rigth">
                      <a href="{{ url_for('.aop_toc', url_seg=journal.url_segment) }}" class="btn ahead">ahead of print</a>
                    </span>
                  </td>
                {% endif %}
                {% for year,v in result_dict.items() %}
                  {% for volume, issue_list in v.items() %}
                    <tr>
                      <td>{{ year }}</td>
                      <th class="table-active">
                        {% if volume %}
                          {{ volume }}
                        {% else %}
                            s/v
                        {% endif %}
                      </th>
                      <td class="left">
                        {# Verificando se é um número de volume #}
                        {% if volume in volume_issue %}
                          <a href="{{ url_for('.issue_toc', url_seg=journal.url_segment,
                                    url_seg_issue=volume_issue[volume].issue.url_segment) }}" class="btn ahead">{{ volume_issue[volume].art_count }} {% trans %}artigos{% endtrans %}</a>
                        {% endif %}
                        {% for issue in issue_list|sort(attribute='order') %}
                          {% if issue.type == 'special' -%}
                            <a href="{{ url_for('.issue_toc', url_seg=journal.url_segment,
                            url_seg_issue=issue.url_segment) }}" class="btn">
                              {{ issue_macros.get_issue_special_number(issue_number=issue.number) }}
                            </a>
                          {% elif issue.type == 'supplement' %}
                            <a href="{{ url_for('.issue_toc', url_seg=journal.url_segment,
                            url_seg_issue=issue.url_segment) }}" class="btn">
                              {% if issue.number %}{{ issue.number }} {% endif %}{% trans %}supl.{% endtrans %}{% if issue.suppl_text and issue.suppl_text != '0' -%}{{ issue.suppl_text }}{%- endif %}
                            </a>
                          {% else %}
                            {# Evitando o None na grade #}
                            {% if issue.number %}
                              <a href="{{ url_for('.issue_toc', url_seg=journal.url_segment,
                                        url_seg_issue=issue.url_segment) }}" class="btn">
                              {{ issue.number }}
                            {% endif %}
                            </a>
                          {% endif %}
                        {% endfor %}
                      </td>
                    </tr>
                  {% endfor %}
                {% endfor %}
              </tbody>
            </table>
          {% else %}
          <div class="col mb-5">
            {% trans %}Nenhum número encontrado para esse periódico{% endtrans %}
          </div>
          {% endif%}
          
        </div>
      </div>
      <div class="row">
        <div class="col mb-5">
          {% if journal.timeline %}
            <h3 class="h5">{% trans %}Histórico deste periódico na coleção{% endtrans %}</h3>
            <ul>
              {% for event in journal.timeline %}
                {% if event.status == 'current'%}
                  <li>{{ event.since.strftime('%B')[:3] }} {{ event.since.strftime('%Y') }}: {% trans %}Admitido na coleção{% endtrans %}.</li>
                {% elif event.status == 'rejected' %}
                  <li>{{ event.since.strftime('%B')[:3] }} {{ event.since.strftime('%Y') }}: {% trans %}Rejeitado na coleção SciELO{% endtrans %}({% trans %}motivo{% endtrans %}: {{ event.reason }}).</li>
                {% elif event.status == 'suspended' %}
                  <li>{{ event.since.strftime('%B')[:3] }} {{ event.since.strftime('%Y') }}: {% trans %}Suspenso da coleção SciELO{% endtrans %} ({% trans %}motivo{% endtrans %}: {{ event.reason }}).</li>
                {% elif event.status == 'deceased' %}
                  <li>{{ event.since.strftime('%B')[:3] }} {{ event.since.strftime('%Y') }}: {% trans %}Terminado{% endtrans %}, {% trans %}continuado como{% endtrans %}<a href="{{ url_for('main.journal_detail', url_seg=journal.url_next_journal)}}"> {{ journal.next_title }}</a>.</li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      
    </div>
  </section>

  {% include "journal/includes/contact_footer.html" %}

  {% with page='grid' %}
    <!--- removido da interface --->
    {# include "article/includes/alternative_header.html" #}
  {% endwith %}

{% endblock %}
