
services:
    redis-cache:
        image: scieloorg/redis 
        container_name: opac_redis_dev
        user: redis
        restart: always
        volumes:
          - ../data_opac_dev/redis-cache-data-dev:/data

    mailhog:
        image: mailhog/mailhog:latest
        container_name: opac_mailhog_dev
        hostname: mailhog
        ports:
            - "8025:8025"

    opac_mongo:
        image: mongo:8.0
        container_name: opac_mongo_dev
        restart: always
        user: mongodb
        hostname: opac-mongo
        ports:
            - "27017:27017"

    opac_webapp:
        build:
            context: .
            dockerfile: ./Dockerfile-dev
            args:
                - OPAC_BUILD_DATE=${OPAC_BUILD_DATE}            # export OPAC_BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"`
                - OPAC_VCS_REF=${OPAC_VCS_REF}                  # export OPAC_VCS_REF=`git rev-parse --short HEAD`
                - OPAC_WEBAPP_VERSION=${OPAC_WEBAPP_VERSION}    # export OPAC_WEBAPP_VERSION="v0.1.0-dev"
        container_name: opac_webapp_dev
        command: gunicorn --worker-class=gevent --worker-connections=1000 --workers 3 --bind 0.0.0.0:8000 app:app --chdir=/app/opac --reload --timeout 1000 --log-level DEBUG
        user: nobody
        restart: always
        hostname: opac_webapp
        depends_on:
            - opac_mongo
            - mailhog
            - redis-cache
        volumes:
            - .:/app
        links:
            - opac_mongo:opac-mongo
            - mailhog:mailhog
            - redis-cache:redis-cache
        ports:
            - "8000:8000"
        environment:
            - OPAC_DEBUG_MODE=True
            - OPAC_LOG_LEVEL=DEBUG
            - OPAC_MINIFY_PAGE=False
            - OPAC_MONGODB_NAME=opac
            - OPAC_MONGODB_HOST=opac_mongo
            - OPAC_MONGODB_PORT=27017
            - OPAC_DATABASE_DIR=/app/data
            - OPAC_MAIL_SERVER=mailhog
            - OPAC_MAIL_PORT=1025
            - OPAC_SECRET_KEY=s3kr3tk3y
            - OPAC_SSM_DOMAIN=minio.scielo.br
            - OPAC_SSM_PORT=443
            - OPAC_SSM_SCHEME=https
            - OPAC_SSM_XML_URL_REWRITE=False
            - OPAC_CACHE_ENABLED=False
            - OPAC_CACHE_DEFAULT_TIMEOUT=3600
            - OPAC_CACHE_REDIS_HOST=redis-cache
            - OPAC_USE_METRICS=True
            - OPAC_METRICS_URL=http://analytics.scielo.org
            - OPAC_USE_DIMENSIONS=True
            - OPAC_DIMENSIONS_URL=https://badge.dimensions.ai/details/doi
            - OPAC_USE_PLUMX=True
            - OPAC_PLUMX_METRICS_URL=https://plu.mx/scielo/a
            - OPAC_USE_ALTMETRIC=True
            - OPAC_ALTMETRIC_METRICS_URL=https://www.altmetric.com/details.php
            - OPAC_USE_SCIENCEOPEN=True
            - OPAC_USE_SCITE=True
            # novas settings para auditoria
            - OPAC_AUDIT_LOG_NOTIFICATION_ENABLED=True
            - OPAC_AUDIT_LOG_NOTIFICATION_RECIPIENTS=
            - OPAC_RQ_REDIS_HOST=redis-cache
            - OPAC_RQ_REDIS_PORT=6379
            - OPAC_SERVER_NAME=127.0.0.1:8000
            - OPAC_APM_ENABLED=False
            - OPAC_APM_SERVER_URL=
            - OPAC_APM_SERVICE_NAME=Website
            - OPAC_APM_ENVIRONMENT=development
            - OPAC_APM_SECRET_TOKEN=
            - OPAC_SHOW_METRICS_URL_IN_JOURNAL_LIST=True
        stdin_open: True
        tty: true

    opac-rq-worker-1:
        build:
            context: .
            dockerfile: ./Dockerfile-dev
            args:
                - OPAC_BUILD_DATE=${OPAC_BUILD_DATE}            # export OPAC_BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"`
                - OPAC_VCS_REF=${OPAC_VCS_REF}                  # export OPAC_VCS_REF=`git rev-parse --short HEAD`
                - OPAC_WEBAPP_VERSION=${OPAC_WEBAPP_VERSION}    # export OPAC_WEBAPP_VERSION="v0.1.0-dev"
        container_name: opac_rq_worker
        command: /start_worker.sh
        user: nobody
        restart: always
        depends_on:
            - opac_mongo
            - mailhog
            - redis-cache
        volumes:
            - .:/app
        links:
            - opac_mongo:opac-mongo
            - mailhog:mailhog
            - redis-cache:redis-cache
        environment:
            - OPAC_DEBUG_MODE=True
            - OPAC_MONGODB_NAME=opac
            - OPAC_MONGODB_HOST=opac_mongo
            - OPAC_MONGODB_PORT=27017
            - OPAC_DATABASE_DIR=/app/data
            - OPAC_MAIL_SERVER=mailhog
            - OPAC_MAIL_PORT=1025
            - OPAC_SECRET_KEY=s3kr3tk3y
            - OPAC_SSM_SCHEME=http
            - OPAC_SSM_DOMAIN=172.19.0.1
            - OPAC_SSM_PORT=8001
            # - OPAC_CACHE_ENABLED=True
            # - OPAC_CACHE_DEFAULT_TIMEOUT=3600
            # - OPAC_CACHE_REDIS_HOST=redis-cache
            # novas settings para auditoria
            - OPAC_AUDIT_LOG_NOTIFICATION_ENABLED=True
            - OPAC_AUDIT_LOG_NOTIFICATION_RECIPIENTS=
            - OPAC_RQ_REDIS_HOST=redis-cache
            - OPAC_RQ_REDIS_PORT=6379
            - OPAC_SERVER_NAME=0.0.0.0:8000

    opac-rq-scheduler:
        build:
            context: .
            dockerfile: ./Dockerfile-dev
            args:
                - OPAC_BUILD_DATE=${OPAC_BUILD_DATE}            # export OPAC_BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"`
                - OPAC_VCS_REF=${OPAC_VCS_REF}                  # export OPAC_VCS_REF=`git rev-parse --short HEAD`
                - OPAC_WEBAPP_VERSION=${OPAC_WEBAPP_VERSION}    # export OPAC_WEBAPP_VERSION="v0.1.0-dev"
        container_name: opac_rq_scheduler
        command: /start_scheduler.sh
        user: nobody
        restart: always
        depends_on:
            - opac_mongo
            - mailhog
            - redis-cache
        volumes:
            - .:/app
        links:
            - opac_mongo:opac-mongo
            - mailhog:mailhog
            - redis-cache:redis-cache
        environment:
            - OPAC_DEBUG_MODE=True
            - OPAC_MONGODB_NAME=opac
            - OPAC_MONGODB_HOST=opac_mongo
            - OPAC_MONGODB_PORT=27017
            - OPAC_DATABASE_DIR=/app/data
            - OPAC_MAIL_SERVER=mailhog
            - OPAC_MAIL_PORT=1025
            - OPAC_SECRET_KEY=s3kr3tk3y
            - OPAC_SSM_SCHEME=http
            - OPAC_SSM_DOMAIN=172.19.0.1
            - OPAC_SSM_PORT=8001
            # - OPAC_CACHE_ENABLED=True
            # - OPAC_CACHE_DEFAULT_TIMEOUT=3600
            # - OPAC_CACHE_REDIS_HOST=redis-cache
            # novas settings para auditoria
            - OPAC_AUDIT_LOG_NOTIFICATION_ENABLED=True
            - OPAC_AUDIT_LOG_NOTIFICATION_RECIPIENTS=
            - OPAC_RQ_REDIS_HOST=redis-cache
            - OPAC_RQ_REDIS_PORT=6379
            - OPAC_SERVER_NAME=0.0.0.0:8000
    
    minio:
        image: 'minio/minio:RELEASE.2024-06-29T01-20-47Z'
        container_name: opac_minio
        hostname: opac-minio
        ports:
            - '9000:9000'
            - '9001:9001'
        environment:
            - MINIO_ROOT_USER=minio
            - MINIO_ROOT_PASSWORD=minio123
        volumes:
            - '../data_opac_dev/minio/data:/data'
        command: server --console-address ":9001" /data