
services:

    redis-cache:
        image: redis:alpine
        container_name: opac_redis_prod
        user: redis
        restart: always
        volumes:
            - ../data_opac_prod/redis-cache-data-dev:/data
            - /etc/localtime:/etc/localtime:ro

    opac_mongo:
        image: mongo:8.0
        container_name: opac_mongo_prod
        restart: always
        user: mongodb
        hostname: opac-mongo
        ports:
            - "27017:27017"
        volumes:
            - ../data_opac_prod/db:/data/db:rw
            - ../data_opac_prod/backups:/data_opac_prod/backups:rw

    opac_webapp:
        image: infrascielo/opac_5
        container_name: opac_webapp_prod
        user: nobody
        restart: always
        hostname: opac_webapp
        depends_on:
            - opac_mongo
            - redis-cache
        volumes:
            - /etc/localtime:/etc/localtime:ro
            - ../data_opac_prod:/app/data
            - ../data_opac_prod/img:/app/data/img
        links:
            - opac_mongo:opac-mongo
            - redis-cache:redis-cache
        expose:
            - "9000"
        env_file:
            - ./.envs/.production/.flask
            - ./.envs/.production/.redis
            - ./.envs/.production/.monitoring
            - ./.envs/.production/.metrics
            - ./.envs/.production/.mongo
            - ./.envs/.production/.db-sqlite
    nginx:
        image: nginx:latest
        container_name: opac_nginx
        depends_on:
            - opac_webapp
        volumes:
            - ./nginx/conf.d:/etc/nginx/conf.d
            - ./nginx/logs:/var/log/nginx/
        ports:
            - "80:80"

    opac-rq-worker-1:
        image: infrascielo/opac_5
        container_name: opac_rq_worker_prod
        command: /app/start_worker.sh
        user: nobody
        restart: always
        depends_on:
            - opac_mongo
            - redis-cache
        volumes:
            - /etc/localtime:/etc/localtime:ro
            - ../data_opac_prod:/app/data
        links:
            - opac_mongo:opac-mongo
            - redis-cache:redis-cache
        env_file:
            - ./.envs/.production/.flask
            - ./.envs/.production/.redis
            - ./.envs/.production/.server
            - ./.envs/.production/.mongo
            - ./.envs/.production/.db-sqlite
    opac-rq-scheduler:
        image: infrascielo/opac_5
        container_name: opac_rq_scheduler_prod
        command: /app/start_scheduler.sh
        user: nobody
        restart: always
        depends_on:
            - opac_mongo
            - redis-cache
        volumes:
            - /etc/localtime:/etc/localtime:ro
            - ../data_opac_prod:/app/data
        links:
            - opac_mongo:opac-mongo
            - redis-cache:redis-cache
        env_file:
            - ./.envs/.production/.flask
            - ./.envs/.production/.redis
            - ./.envs/.production/.server
            - ./.envs/.production/.mongo
            - ./.envs/.production/.db-sqlite

    minio:
        image: 'minio/minio:RELEASE.2024-06-29T01-20-47Z'
        container_name: opac_minio
        hostname: opac-minio
        ports:
            - '9000:9000'
            - '9001:9001'
        env_file:
            - ./.envs/.production/.minio
        volumes:
            - '../data_opac_prod/minio/data:/data'
        command: server --console-address ":9001" /data