{% extends "collection/base.html" %}
{% block level_menu %}
    {% include "collection/includes/levelMenu.html" %}
{% endblock %}
{% block main_content %}

<section class="collection collectionAbout">
    <div class="container">

        {% if page %}
            <div class="row">
                <div class="col-12">
                    <h1 class="h4">{{ page }}</h1>
    
                    {%- if page.content -%}
                        {{ page.content|safe }}
                    {%- else -%}
                        {% trans %} Conteúdo não cadastrado {% endtrans %}
                    {%- endif -%}
                </div>
            </div>

            {% with page_updated_at=page.updated_at  %}
            <div class="row">
                <div class="col">
                    {% include "includes/page_updated_at_info.html" %}
                </div>
            </div>
            {% endwith %}
            {% if children or page.parent_page %}
                <section class="child-pages">
                <h2>{% trans %} Páginas relacionadas {% endtrans %}</h2>
                <ul>
                    {% if page.parent_page %}
                        <li>
                            <a href="{{ url_for('.page_about_detail', slug_name=page.parent_page.slug_name) }}">
                            {{ page.parent_page.name }}
                            </a>
                        </li>
                    {% endif %}
                    {% for child in children %}
                    <li>
                        <a href="{{ url_for('.page_about_detail', slug_name=child.slug_name) }}">
                        {{ child.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                </section>
            {% endif %}
        {% endif %}
    
        {% if page %}
        
    {% endif %}
        
    </div>
</section>

{% endblock %}
