{% extends "collection/base.html" %}
{% block level_menu %}
    {% include "collection/includes/levelMenu.html" %}
{% endblock %}
{% block main_content %}

<section class="collection collectionAbout">
    <div class="container">
        {% if pages %}
            <div class="row">
                <div class="col">

                    <h1 class="h4 pt-1 mb-4"> {% trans %}Sobre o SciELO{% endtrans %} {{ coll_macro.get_collection_name() }}</h1>
                    
                    <div class="about">
                        {% set nodes = pages %}
                        {% set ul_class = "networkList" %}
                        {% include "collection/includes/_page_tree.html" %}
                    </div>
                </div>
            </div>

        {% endif %}        
    </div>
</section>

{% endblock %}
