{% extends "collection/base.html" %}
{% import 'macros/collection.html' as coll_macro %}

{% block body_class %}collection{% endblock %}
{% block level_menu %}
    {% include "collection/includes/levelMenu_search.html" %}
{% endblock %}



{% block main_content %}
  <section class="collection mb-5">
    <div class="container">
      
      {% if config.USE_HOME_METRICS %}
        <div class="row">
          <div class="col-md-12 col-sm-12 metrics">
            <div class="row">
              <div class="col-md-6">
                <h2>{{ coll_macro.get_collection_name() }} <span >{% trans %}em números | Métricas{% endtrans %}</span></h2>
              </div>
              <div class="col-md-6 right">
                <div class="datetime"><span id="date"></span></div>
              </div>
            </div>
            <div class="levelMenu">
              <div class="col-md-10 col-sm-10 numbers">
                <div class="col-md-3 col-sm-3">
                  {{ g.collection.metrics.total_journal }}
                  <span>{% trans %}períodicos{% endtrans %}</span>
                </div>
                <div class="col-md-3 col-sm-3">
                  {{ g.collection.metrics.total_article }}
                  <span>{% trans %}artigos{% endtrans %}</span>
                </div>
                <div class="col-md-3 col-sm-3">
                  {{ g.collection.metrics.total_citation }}
                  <span>{% trans %}referências{% endtrans %}</span>
                </div>
              </div>
              <div class="col-md-2 col-sm-2">
                <ul>
                  <li>
                    <a href="{{ urls.downloads }}" target="_blank">{% trans %}Downloads{% endtrans %}</a>
                  </li>
                  <li>
                    <a href="{{ urls.references }}" target="_blank">{% trans %}Citações{% endtrans %}</a>
                  </li>
                  <li>
                    <a href="{{ urls.other }}" target="_blank">{% trans %}Outros indicadores{% endtrans %}</a>
                  </li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      {% endif %}

      <div class="row">
        <div class="col">
          
          <h2 class="h4 text-center text-md-start">{% trans %}Lista de periódicos{% endtrans %}</h2>
          
          <div class="scielo__levelMenu">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-6 col-sm-3 col-md-2">
                     <a href="{{ url_for('.collection_list') }}?status=current">{% trans %}Alfabética{% endtrans %}</a>
                  </div>
                  <div class="col-6 col-sm-3 col-md-2">
                     <a href="{{ url_for('.collection_list_thematic') }}?status=current">{% trans %}Temática{% endtrans %}</a>
                  </div>
                  <div class="col">
                     <!-- Form search periódicos -->
                     <div class="typeahead__container">
                        <div class="typeahead__field">
                           <div class="typeahead__query">
                              <span class="typeahead__cancel-button">×</span><input placeholder="{% trans %}Busca por periódicos{% endtrans %}" type="search" class="form-control" autocomplete="off" name="tst" id="tst">
                           </div>
                        </div>
                     </div>
                  </div>
                  {#
                  <!--
                     <li>
                       <a href="{{ url_for('.collection_list') }}#publisher">{% trans %}Por instituição{% endtrans %}</a>
                     </li>
                     <li>
                       <a href="{{ url_for('.collection_list') }}#newIssue">{% trans %}Novos números{% endtrans %}</a>
                     </li>
                     <li>
                       <a href="{{ url_for('.collection_list') }}#newJournals">{% trans %}Novos períodicos{% endtrans %}</a>
                     </li>
                     <li>
                       <a href="{{ analytics.urls.other }}">{% trans %}Métricas{% endtrans %}</a>
                     </li> 
                     -->
                  #}
               </div>
            </div>
          
        </div>
      </div>

    </div>
  </section>

  {% if press_releases %}
    <section class="collection collection-press-release mb-5">
      <div class="container-fluid g-0 container-md">
        <div class="row-fluid row-lg">
          <div class="col">
              
            <h2 class="h4 text-center text-md-start">SciELO <span>Press Releases</span></h2>
            <div class="scielo-slider">
              
              {% for press_release in press_releases %}

                {% if loop.index <= 15 %}
                  {% include "press_release/includes/press_releases_row.html" %}
                {% endif %}

              {% endfor %}

            </div>

          </div>
        </div> {# /row #}
      </div>
    </section>  
  {% endif %}

  {% if news %}
    <section class="collection collection-news mb-5">
      <div class="container-fluid g-0 container-md">
        <div class="row-fluid row-lg">
          <div class="col">
            <h2 class="h4 text-center text-md-start">SciELO <span>{% trans %}em perspectiva{% endtrans %}</span></h2>
            <div class="scielo-slider">
              {% for item in news %}
                {% include "news/includes/collection_news_row.html" %}
              {% endfor %} 
            </div>
          </div>
        </div> {# /row #}
      </div>
    </section> 
  {% endif %}

  {% if tweets %}
    <section class="collection collection-news">
      <div class="container">
      <div class="row">
          <div class="block twitter">
            <div class="col-md-12">
              <h2><span>Twitter</span> <a href="https://twitter.com/{{ config.TWITTER_SCREEN_NAME }}" target="_blank">@{{ config.TWITTER_SCREEN_NAME }}</a></h2>
              <div class="slider" id="twitter">
                <a href="javascript:;" class="slide-back"><span class="glyphBtn arrowLeft"></span></a>
                <a href="javascript:;" class="slide-next"><span class="glyphBtn arrowRight"></span></a>
                <div class="slide-container">
                  <div class="slide-wrapper twitter-timeline-container">
                    {% for tweet in tweets %}
                      {% with is_highlight = loop.index == 1 %}
                        {% include "collection/includes/tweet_row.html" %}
                      {% endwith %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div> {# /row #}
      </div>
    </section>
  {% endif %}

{% endblock %}

