{% extends "collection/base.html" %}

{% block title %}{% trans %}Lista de periódicos{% endtrans %}{% endblock %}

{% block level_menu %}
  {% include "collection/includes/levelMenu.html" %}
{% endblock %}

{% block main_content %}

  <section class="collection collectionList">
    <div class="container">

      <h3 class="h4 mb-3"> {% trans %}Periódicos{% endtrans %}</h3>

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active alpha-tab" href="{{ url_for('.collection_list') }}?status=current">{% trans %}Alfabética{% endtrans %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link thematic-tab" href="{{ url_for('.collection_list_thematic') }}?status=current">{% trans %}Temática{% endtrans %}</a>
        </li>
      </ul>
      
      <div class="tab-content">

        <!-- Alpha -->
        <div class="tab-pane active collectionListStart" id="alpha">
            <!-- Alpha content -->
                <div class="row collectionListSearch">
                  <div class="col-12 col-sm-12 col-md-7">
                    
                    <ul class="nav nav-pills">
                      <li class="nav-item" role="presentation">
                        <a class="btn btn-sm btn-secondary {% if query_filter == '' %}active {% endif %}" href="{{ url_for('.collection_list') }}">
                            {% trans %}Todos{% endtrans %}
                        </a> 
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="ms-1 btn btn-sm btn-secondary {% if query_filter == 'current' %}active {% endif %} scielo__btn-with-icon--left" href="{{ url_for('.collection_list') }}?status=current">
                          <span class="lbl-corrente">
                            <span class="material-icons" style="color: #2c9d45;">fiber_manual_record</span> {% trans %}Ativos{% endtrans %}</span>
                        </a> 
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="ms-1 btn btn-sm btn-secondary {% if query_filter == 'no-current' %}active {% endif %} scielo__btn-with-icon--left" href="{{ url_for('.collection_list') }}?status=no-current">
                          <span class="lbl-nao-corrente"><span class="material-icons" style="color: #c63800;">fiber_manual_record</span> {% trans %}Descontinuados{% endtrans %}</span>
                        </a> 
                      </li>
                    </ul>
                  </div>

                  <div class="col-12 col-sm-12 col-md-5">
                    <input type="text" class="form-control form-control-sm collectionSearch" placeholder="{% trans %}Digite para filtrar a lista{% endtrans %}"/>
                  </div>
                </div>

                <div class="collectionListTable mt-2">
                  <table class="table table-hover table-journal-list">
                    <caption class="sr-only">Journal list</caption>
                    <thead>
                      <tr>      
                        <th>
                          {% trans %}Títulos{% endtrans %} <small class="collectionListTotalInfo"></small>
                        </th>
                        <th class="pe-0">
                          <button id="btnGroupDropDownload" type="button" class="btn btn-sm btn-secondary scielo__btn-with-icon--only dropdown-toggle mb-0 float-end d-print-none" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="material-icons-outlined">download</span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="btnGroupDropDownload">
                            <li>
                              <a class="dropdown-item downloadXLS" href="#">
                                XLS 
                              </a>
                            </li>
                            <li>
                              <a class="dropdown-item collectionListDownloadCSV" href="#">
                                CSV
                              </a>
                            </li>
                          </ul>
                        </th>

                      </tr>
                    </thead>
                    <tbody id="journals_table_body">
                      {# preenchido com a lista de periódicos com js #}

                      {% if journals_list %}
                          {% include 'collection/includes/journal_list_row.html' %}
                      {% endif %}
                    </tbody>
                  </table>
                </div>
            <!-- Alpha content -->
        </div>
        <!-- Alfa -->
    </div>
  </section>

  <script id="template_collection_list_table" type="text/template">
    {% with template_collection_list_table_body_id='template_collection_list_table_body' %}
      {% include "collection/includes/tmpl_journal_list_grouper_table_container.html" %}
    {% endwith %}
  </script>

  <script id="template_collection_list_table_body" type="text/template">
    {% with template_journal_row_id='template_journal_row' %}
      {% include "collection/includes/tmpl_journal_list_grouper_table_row.html" %}
    {% endwith %}
  </script>

  <script id="template_journal_row" type="text/template">
    {% include "collection/includes/tmpl_journal_list_row.html" %}
  </script>

  <script id="template_empty_msg" type="text/template">
    {% include "collection/includes/tmpl_journal_list_empty.html" %}
  </script>

  <script id="template_error_msg" type="text/template">
    {% include "collection/includes/tmpl_journal_list_error.html" %}
  </script>

{% endblock %}

{% block extra_js %}
  <script src="{{ url_for('static', filename='js/journal_lists.js') }}"></script>

  <script>
    $('.collectionListDownloadXLS').click(function(event) {
      event.preventDefault();
      var target_url = "{{ url_for('.download_journal_list', list_type='alpha', extension='xls') }}";
      open_download_url(target_url, '.collectionSearch');
    });

    $('.collectionListDownloadCSV').click(function(event) {
      event.preventDefault();
      var target_url = "{{ url_for('.download_journal_list', list_type='alpha', extension='csv') }}";
      open_download_url(target_url, '.collectionSearch');
    });

    $('.thematic-tab').click(function(event) {

      window.location.href = "{{ url_for('.collection_list_thematic') }}?status=current";

    });


  </script>
{% endblock %}