{% extends "collection/base.html" %}

{% block title %}{% trans %}Lista de periódicos{% endtrans %}{% endblock %}

{% block level_menu %}
{% include "collection/includes/levelMenu.html" %}
{% endblock %}

{% block main_content %}

<section class="collection collectionList mb-5">
    <div class="container">

        <ul class="nav nav-tabs">
            <!--
                Removido da interface
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('main.index') }}">
                <span class="material-icons-outlined">home</span> {% trans %}Home{% endtrans %}
                </a>
            </li>
            -->
            <li class="nav-item">
                <a class="nav-link alpha-tab" href="{{ url_for('.collection_list') }}?status=current">{% trans %}Alfabética{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active thematic-tab" href="{{ url_for('.collection_list_thematic') }}?status=current">{% trans %}Temática{% endtrans %}</a>
            </li>
        </ul>

        <!--
        <ul class="nav nav-pills">
            <li class="home-tab">
                <a href="{{ url_for('main.index') }}">
                    <span class="glyphBtn home" style="height: 20px;"></span> {% trans %}Home{% endtrans %}
                </a>
            </li>
            <li role="presentation" {% if 'alpha' in request.url_rule.rule %}class="active" {% endif %}>
                <a href="{{ url_for('.collection_list') }}?status=current">
                    {% trans %}Alfabética{% endtrans %}
                </a>
            </li>
            <li role="presentation" {% if 'thematic' in request.url_rule.rule %}class="active" {% endif %}>
                <a
                    href="{{ url_for('.collection_list_thematic') }}?status=current">{% trans %}Temática{% endtrans %}</a>
            </li>
        </ul>
        -->

        <div class="row collectionListSearch">
            <div class="col col-md-6">
                <select class="form-select collection-areas-filter" onchange="changeAreaFilter(this)">
                    <option value="areas" {% if filter == "areas" %} selected {% endif %}>{% trans %}Grandes áreas do
                        conhecimento{% endtrans %}</option>
                    <option value="wos" {% if filter == "wos" %} selected {% endif %}>{% trans %}Áreas temáticas do Web
                        of Science{% endtrans %}</option>
                </select>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab-pane active collectionListStart" id="areasConhecimento">
                <div class="row collectionListSearch">
                    <div class="col col-md-7">
                        
                        <ul class="nav nav-pills">
                            <li class="nav-item" role="presentation">
                                <a class="btn btn-sm btn-secondary {% if query_filter == '' %}active {% endif %}" href="{{ url_for('.collection_list_thematic') }}">
                                    {% trans %}Todos{% endtrans %}
                                </a> 
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="ms-1 btn btn-sm btn-secondary {% if query_filter == 'current' %}active {% endif %} scielo__btn-with-icon--left" href="{{ url_for('.collection_list_thematic') }}?status=current">
                                <span class="lbl-corrente"><span class="material-icons" style="color: #2c9d45;">fiber_manual_record</span>{% trans %}Ativos{% endtrans %}</span>
                                </a> 
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="ms-1 btn btn-sm btn-secondary {% if query_filter == 'no-current' %}active {% endif %} scielo__btn-with-icon--left" href="{{ url_for('.collection_list_thematic') }}?status=no-current">
                                <span class="lbl-nao-corrente"><span class="material-icons" style="color: #c63800;">fiber_manual_record</span>{% trans %}Descontinuados{% endtrans %}</span>
                                </a> 
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 col-sm-12 col-md-5">
                        <input type="text" class="form-control collectionSearch"
                            placeholder="{% trans %}Digite para filtrar a lista{% endtrans %}" />
                    </div>
                </div>

                <div class="collectionListTable mt-2">
                    <table class="table table-hover table-journal-list">
                        <thead>
                            <tr>
                                <th>
                                    {% trans %}Periódicos{% endtrans %}<br>
                                    {% if filter == "areas" %}
                                    <small class="collectionListTotalInfo">
                                        ({{ objects.meta.themes_count }}
                                        {% trans %}grandes áreas{% endtrans %} -  
                                        {{ objects.meta.total }}
                                        {% trans %}periódicos{% endtrans %}) </small>
                                    {% elif filter == "wos"%}
                                    <small class="collectionListTotalInfo">
                                        ({{ objects.meta.themes_count }}
                                        {% trans %}áreas WOS{% endtrans %} - 
                                        {{ objects.meta.total }}
                                        {% trans %}periódicos{% endtrans %}) </small>
                                    {% endif %}
                                </th>
                                <th>
                                    <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-secondary scielo__btn-with-icon--only dropdown-toggle mb-0 float-end" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="material-icons-outlined">download</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="btnGroupDrop1">
                                        <li>
                                            <a class="dropdown-item" href="#" class="collectionListDownloadXLS" title="{% trans %}Lista em arquivo para Excel{% endtrans %}">
                                            XLS
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item collectionListDownloadCSV" href="#" class="collectionListDownloadCSV" title="{% trans %}Lista em arquivo CSV{% endtrans %}">
                                            CSV
                                            </a>
                                        </li>
                                    </ul>
                                </th>
                            </tr>
                        </thead>
                    </table>

                    <!--
                        <tbody id="journals_table_body">
                    -->
                            {# preenchido com a lista de periódicos com js #}

                            {% if objects %}
                            
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                {% for group in objects.objects|sort %}
                               
                                      
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading-{{ loop.index }}">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContent-{{ loop.index }}" aria-expanded="false" aria-controls="flush-collapseOne">
                                                    {{ group }}
                                                </button>
                                            </h2>
                                            <div id="collapseContent-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" style="">
                                                <div class="accordion-body">
                                                    <table class="table table-hover table-journal-list">
                                                        <thead>
                                                            <tr>
                                                                <th>{% trans %}Títulos{% endtrans %}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% with journals_list=objects.objects[group]%}
                                                            {% include 'collection/includes/journal_list_row.html' %}
                                                            {% endwith %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    
                                    

                                {% endfor %}
                            </div>
                            {% endif %}
                        
                        
                </div>
            </div>
        </div>
</section>

<script id="template_collection_list_table" type="text/template">
    {% with template_collection_list_table_body_id='template_collection_list_table_body' %}
      {% include "collection/includes/tmpl_journal_list_grouper_table_container.html" %}
    {% endwith %}
</script>

<script id="template_collection_list_table_body" type="text/template">
    {% with template_journal_row_id='template_journal_row' %}
      {% include "collection/includes/tmpl_journal_list_grouper_table_row.html" %}
    {% endwith %}
</script>

<script id="template_journal_row" type="text/template">
    {% include "collection/includes/tmpl_journal_list_row.html" %}
</script>

<script id="template_empty_msg" type="text/template">
    {% include "collection/includes/tmpl_journal_list_empty.html" %}
</script>

<script id="template_error_msg" type="text/template">
    {% include "collection/includes/tmpl_journal_list_error.html" %}
</script>

<script>
    function changeAreaFilter(event) {
        var currentPage = window.location.href.split('?')[0];
        window.location = currentPage + "?status=" + "{{ query_filter }}" + "&filter=" + event.value;
    }
</script>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/journal_lists.js') }}"></script>
<script>
    $('.collectionListDownloadXLS').click(function (event) {
        event.preventDefault();
        var target_url = "{{ url_for('.download_journal_list', list_type=filter, extension='xls') }}";
        open_download_url(target_url, '.collectionSearch');
    });
    $('.collectionListDownloadCSV').click(function (event) {
        event.preventDefault();
        var target_url = "{{ url_for('.download_journal_list', list_type=filter, extension='csv') }}";
        open_download_url(target_url, '.collectionSearch');
    });

    $('.alpha-tab').click(function(event) {

        window.location.href = "{{ url_for('.collection_list') }}?status=current";

    });

</script>

{% endblock %}