<div class="card" data-publication-date="{{ press_release.publication_date }}">

  {% if press_release.image_url %}

    <img src="{{ press_release.image_url }}" class="card-img-top" alt="{{ press_release.title|striptags }}">

  {% else %}
 
    <img src="../../static/img/img-post-blog-scielo-exemplo.jpg" class="card-img-top" alt="{{ press_release.title|striptags }}">
 
  {% endif %}
 
  <div class="card-body">

    <div class="h6 card-subtitle mb-1">{{ press_release.publication_date|datetimefilter }}</div>
    
    <strong class="card-title">
      {{ press_release.title|striptags }}
    </strong>
  
  </div>
  <div class="card-footer">
    <a href="{{ press_release.url }}" target="_blank" class="btn btn-secondary d-block mx-0 my-0">{% trans%}Continue lendo{% endtrans %}</a>
  </div>

</div>