{% extends "base.html" %}
{% block body_class %}journal about{% endblock %}
{% block content %}
  {% include "journal/includes/header.html" %}
  {% include "journal/includes/journal_info.html" %}
  {% include "journal/includes/levelMenu.html" %}

  {% block main_content %}

  
    <section class="journalContent">
        <div class="container">
          <div class="row">
            <div class="col-md-12 content journalSecundary">
                {% include "includes/page_updated_at_info.html" %}
                <div class="row">
                    <div class="{% if journal.social_networks %}col-md-8 col-sm-8{% else %}col-md-12 col-sm-12{%endif%}">
                        {% if content %}
                          {{ content|safe }}
                        {% else %}
                          {% trans %}Conteúdo não cadastrado{% endtrans %}
                        {% endif %}
                    </div>

                    {% if journal.social_networks or journal.logo_url %}
                      <div class="col-md-4 col-sm-4">

                        {# {% if journal.logo_url %}
                          <a href="#" class="linkLogo">
                            <img src="{{ journal.logo_url }}" alt="{% trans %}Logo{% endtrans %} {{ journal.title }}">
                            {% trans %}Clique para ver a logo deste periódico{% endtrans %}
                          </a>
                        {% endif %} #}

                        {% if journal.social_networks %}
                          <div class="linkSocial">
                            <small>{% trans %}Siga este periódico nas redes sociais{% endtrans %}</small>
                            <ul>
                              {% for sn in journal.social_networks %}
                                {% if sn.account %}
                                  <li>
                                    <a href="{{ sn.account }}">
                                      {% with network = sn.network|lower  %}
                                        {% if network == 'twitter' %}
                                          <span class="glyphBtn bigTwitter"></span> FACEBOOK
                                        {% elif network == 'facebook' %}
                                          <span class="glyphBtn bigFacebook"></span> TWITTER
                                        {% elif network == 'google+' or network == 'google' %}
                                          <span class="glyphBtn bigGooglePlus"></span> GOOGLE+
                                        {% else %}
                                          <span class="glyphBtn"></span> {{ network|upper }}
                                        {% endif %}
                                      {% endwith %}
                                    </a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}
                </div>
            </div>
          
          </div>
        </div>
    </section>

  {% endblock %}

  {% include "journal/includes/contact_footer.html" %}

  {% include "includes/footer.html" %}

  {% include "journal/includes/alternative_header.html" %}

{% endblock %}


