{% extends "journal/base.html" %}

{% block main_content %}
 <!-- Only on mobile -->
 <section class="d-flex d-sm-none breadcrumb mt-3 mb-5 py-0 py-1">
  <div class="container px-0">
    <div class="row">
      <div class="col ps-0">

        <ol class="breadcrumb mb-0 ps-0">
          <li class="breadcrumb-item"><a href="{{ url_for('.collection_list') }}?status=current"><span class="material-icons-outlined">navigate_before</span> {% trans %}Periódicos{% endtrans %}</a></li>
        </ol>

      </div>
      <div class="col-3 pt-3">
    
        <!-- share --> 
        {% include "includes/share.html" %}
      
      </div>
    </div>
  </div>
</section>

  <section class="d-none d-sm-flex breadcrumb mt-3 mb-5 py-0 py-1">
    <div class="container">
      <div class="row">
        <div class="col">

          <ol class="breadcrumb mb-0 ps-0">
            <li class="breadcrumb-item"><a href="{{ url_for('.index') }}" alt="{% trans %}Home{% endtrans %}"><span class="material-icons-outlined">home</span></a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('.collection_list') }}?status=current">{% trans %}Periódicos{% endtrans %}</a></li>
            <li class="breadcrumb-item">{{ journal.title }}</li>
          </ol>
          
        </div>
        <div class="col-3 pt-3">
      
          <!-- share --> 
          {% include "includes/share.html" %}
        
        </div>
      </div>
    </div>
  </section>

  <!-- missao --->
  <section class="journalContent mb-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          {# mission #}
          {% if journal.mission %}
            <h2 class="scielo__text-title--4">{% trans %}Nossa Missão{% endtrans %}</h2>
            {% if session.lang %}
                <p>{{ journal.get_mission_by_lang(session.lang[:2])|safe|default(_("Periódico sem missão cadastrada"), true) }}</p>
            {% endif %}
          {% endif %}
          {# mission #}
        </div>

        {# last issue #}
        {% if journal.last_issue %}

            <div class="col-12 col-lg-6">
              
                {% if journal.last_issue.cover_url %}
                <a href="{{ url_for('.issue_toc', url_seg=journal.url_segment, url_seg_issue=last_issue.url_segment) }}">
                  <img src="{{ latest_issue.cover_url }}" class="image" alt="{% trans %}Capa do número mais recente{% endtrans %}" /> <!-- a imagem é opcional -->
                </a>
                {% endif %}
                <span class="text">
                  <strong><small>{% trans %}Número mais recente{% endtrans %}</small></strong>
                  <p>
                    <a href="{{ url_for('.issue_toc', url_seg=journal.url_segment, url_seg_issue=last_issue.url_segment) }}">
                    <strong>{{ latest_issue_legend|default('--', True) }}</strong>
                    </a>
                  </p>
                </span>
            </div>
            {% if sections %}
              <div class="col-6">
                <h3>{% trans %}Sumário{% endtrans %}</h3>
                <ul>
                  {% for section in sections %}
                    <li><a href="{{ url_for('.issue_toc', url_seg=journal.url_segment, url_seg_issue=last_issue.url_segment) }}#{{ section|upper }}">{{ section }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          
        {% endif %}
        {# last issue #}

      </div>
    </div>
  </section>

  
  <!-- press releases --->
  {# press_releases #}
  {% if press_releases %}
  <section id="pressReleasesList" class="journalContent mb-5 press-releases-cards d-none" data-lastdays="60">
    <div class="container">
      <div class="row">
        <div class="col">
          
          <h2 class="scielo__text-title--4">
            Press-releases
            {% if session.lang != "pt_BR" %}
              <a href="{{ config.URL_BLOG_PRESSRELEASE }}/{{ session.lang }}/blog/category/press-releases/{{ journal.acronym }}/feed/" target="_blank" data-toggle="tooltip" data-original-title="{% trans %}RSS dos Press Releases mais recentes desse periódico{% endtrans %}"><span class="material-icons-outlined">rss_feed</span></a>
            {% else %}
              <a href="{{ config.URL_BLOG_PRESSRELEASE }}/blog/category/press-releases/{{ journal.acronym }}/feed/" target="_blank" data-toggle="tooltip" data-original-title="{% trans %}RSS dos Press Releases mais recentes desse periódico{% endtrans %}"><span class="material-icons-outlined">rss_feed</span></a>
            {% endif %}
          </h2>  
          
          {% if press_releases|length > 1 %}
              
            <div class="scielo-slider">

              {% for press_release in press_releases  %}
                {% include "press_release/includes/press_releases_row.html" %}
              {% endfor %}

            </div>
          
          {% else %}    
              
              {% for press_release in press_releases  %}
                {% include "press_release/includes/press_releases_row.html" %}
              {% endfor %}
          
          {% endif %}
           
        </div>
      </div>
    </div>    
  </section>
  {% endif %}
  {# press_release #}


  <!-- artigos mais recentes --->
  {# recent_articles #}
  {% if recent_articles %}
  <section class="journalContent mb-5">
    <div class="container">
      <div class="row">
        <div class="col">
           
            <h2 class="scielo__text-title--4">{% trans %}Artigos mais recentes{% endtrans %}</h2>
            
            <div class="scielo-slider" data-autoheight="true">
              {% for article in recent_articles  %}
                {% include "article/includes/recent_articles_row.html" %}
              {% endfor %}
            </div>
  
        </div>
      </div>
    </div>    
  </section>
  {% endif %}
  {# recent_articles #}
  

  <!-- notícias --->
  {# news #}
  {% if news %}
  <section class="journalContent mb-5">
    <div class="container">
      <div class="row">
        <div class="col">
              
            <h2 class="scielo__text-title--4">{% trans %}Notícias{% endtrans %}</h2>

            <div class="scielo-slider" data-autoheight="true">
              
              {% for item in news  %}

                <!-- comentado o news/includes/journal_news_row.html pois parece ter o mesmo conteúdo do news/includes/collection_news_row.html -->
                {# % include "news/includes/journal_news_row.html" % #}

                {% include "news/includes/collection_news_row.html" %}
            
              {% endfor %}
            </div>
  
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  {# news #}


  <!-- conteudo antigo antes do responsivo -->
  <section class="journalContent d-none">
    <div class="container">
      <div class="row">
        <div class="col">
          <!--
          <a href="javascript:window.print();" class="sharePrint showTooltip" data-placement="top" title="{% trans %}Imprimir{% endtrans %}"><i class="material-icons-outlined">print</i></a>
          <a href="{{ url_for('main.journal_feed', url_seg=journal.url_segment)}}" class="showTooltip" data-placement="top" title="{% trans %}RSS do número mais recente do periódico{% endtrans %}" target="_blank"><i class="material-icons-outlined">rss_feed</i></a>
          <span class="divisor"></span>
          {% trans %}Compartilhe{% endtrans %}
          <a href="" class="share_modal_id showTooltip" data-placement="top" title="{% trans %}Enviar link por e-mail{% endtrans %}"><span class="glyphBtn sendMail"></span></a>
          <a href="" class="shareFacebook showTooltip" data-placement="top" title="{% trans %}Compartilhar no Facebook{% endtrans %}"><span class="glyphBtn facebook"></span></a>
          <a href="" class="shareTwitter showTooltip" data-placement="top" title="{% trans %}Compartilhar no Twitter{% endtrans %}"><span class="glyphBtn twitter"></span></a>
          <a href="" class="showTooltip dropdown-toggle" data-toggle="dropdown" data-placement="top" title="{% trans %}Outras redes sociais{% endtrans %}"><span class="glyphBtn otherNetworks"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">{% trans %}Outras redes sociais{% endtrans %}</li>
            <li><a href="" class="shareGooglePlus"><span class="glyphBtn googlePlus"></span> Google+</a></li>
            <li><a href="" class="shareLinkedIn"><span class="glyphBtn linkedIn"></span> LinkedIn</a></li>
            <li><a href="" class="shareReddit"><span class="glyphBtn reddit"></span> Reddit</a></li>
            <li><a href="" class="shareStambleUpon"><span class="glyphBtn stambleUpon"></span> StambleUpon</a></li>
            <li><a href="" class="shareCiteULike"><span class="glyphBtn citeULike"></span> CiteULike</a></li>
            <li><a href="" class="shareMendeley"><span class="glyphBtn mendeley"></span> Mendeley</a></li>
          </ul>
          -->

          

        </div>
        <div class="col content journalHome">  

          <div class="row block mission">
          {# mission #}
          {% if journal.mission %}
            <div class="col-12 col-sm-6">
                <h2 class="scielo__text-title--4">{% trans %}Nossa Missão{% endtrans %}</h2>
                {% if session.lang %}
                    <p>{{ journal.get_mission_by_lang(session.lang[:2])|safe|default(_("Periódico sem missão cadastrada"), true) }}</p>
                {% endif %}
            </div>
          {% endif %}
          {# mission #}

          {# analytics #}
          {# analytics #}

        {# last issue #}
        {% if journal.last_issue %}

        <!--
          <div class="block lastIssue">
        -->
            <div class="col-12 col-sm-6">
              
                {% if journal.last_issue.cover_url %}
                <a href="{{ url_for('.issue_toc', url_seg=journal.url_segment, url_seg_issue=last_issue.url_segment) }}">
                  <img src="{{ latest_issue.cover_url }}" class="image" alt="{% trans %}Capa do número mais recente{% endtrans %}" /> <!-- a imagem é opcional -->
                </a>
                {% endif %}
                <span class="text">
                  <small>{% trans %}Número mais recente{% endtrans %}</small>
                  <!--
                  <h2 class="scielo__text-title--4">{{ latest_issue_legend|default('--', True) }}</h2>
                  -->
                  <p>
                    <a href="{{ url_for('.issue_toc', url_seg=journal.url_segment, url_seg_issue=last_issue.url_segment) }}">
                    <strong>{{ latest_issue_legend|default('--', True) }}</strong>
                    </a>
                  </p>
                </span>
              
            </div>
            {% if sections %}
              <div class="col-md-6 col-sm-6">
                <h3>{% trans %}Sumário{% endtrans %}</h3>
                <ul>
                  {% for section in sections %}
                    <li><a href="{{ url_for('.issue_toc', url_seg=journal.url_segment, url_seg_issue=last_issue.url_segment) }}#{{ section|upper }}">{{ section }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            
        <!--
          </div>
        -->
        {% endif %}
        {# last issue #}

        {# press_releases #}
        {% if press_releases %}
          <div class="col-12 block releases">
            <!--
            <div class="">
            -->
              <h2 class="scielo__text-title--4">
                Press-releases
                {% if session.lang != "pt_BR" %}
                  <a href="{{ config.URL_BLOG_PRESSRELEASE }}/{{ session.lang }}/blog/category/press-releases/{{ journal.acronym }}/feed/" target="_blank" data-toggle="tooltip" data-original-title="{% trans %}RSS dos Press Releases mais recentes desse periódico{% endtrans %}"><span class="material-icons-outlined">rss_feed</span></a>
                {% else %}
                  <a href="{{ config.URL_BLOG_PRESSRELEASE }}/blog/category/press-releases/{{ journal.acronym }}/feed/" target="_blank" data-toggle="tooltip" data-original-title="{% trans %}RSS dos Press Releases mais recentes desse periódico{% endtrans %}"><span class="material-icons-outlined">rss_feed</span></a>
                {% endif %}
              </h2>  
              

              {% if press_releases|length > 1 %}
                  
                <div class="scielo-slider">

                  {% for press_release in press_releases  %}
                    {% include "press_release/includes/press_releases_row.html" %}
                  {% endfor %}

                </div>
              
              {% else %}    
                  
                  {% for press_release in press_releases  %}
                    {% include "press_release/includes/press_releases_row.html" %}
                  {% endfor %}
              
              {% endif %}
            
              <!--
            </div>
            -->
            
          </div>
        {% endif %}
        {# press_release #}

        {# recent_articles #}
        {% if recent_articles %}
          <div class="col block recent_articles">
           
              <h2 class="scielo__text-title--4">{% trans %}Artigos mais <br class="d-block d-sm-none">recentes{% endtrans %}</h2>
             
              <div class="scielo-slider">
                {% for article in recent_articles  %}
                  {% include "article/includes/recent_articles_row.html" %}
                {% endfor %}
              </div>

          </div>
        {% endif %}
        {# recent_articles #}

        {# news #}
        {% if news %}
          <div class="col block news">
            
              <h2 class="scielo__text-title--4">{% trans %}Notícias{% endtrans %}</h2>

              <div class="scielo-slider">
                
                {% for item in news  %}

                  <!-- comentado o news/includes/journal_news_row.html pois parece ter o mesmo conteúdo do news/includes/collection_news_row.html -->
                  {# % include "news/includes/journal_news_row.html" % #}

                  {% include "news/includes/collection_news_row.html" %}
              
                {% endfor %}
              </div>

          </div>
        {% endif %}
        {# news #}

      </div>
    </div>
    
    
    </div>
  </section>

  

  {% include "journal/includes/contact_footer.html" %}

  

{% endblock %}




