{% extends 'admin/opac_base.html' %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-5">
      {% if current_user.is_authenticated %}
        <div class="card mb-3">
          <div class="card-header">{% trans %}Iniciar sessão{% endtrans %}</div>
          <div class="card-body">
            {% trans %}Você já iniciou sessão!{% endtrans %}
          </div>
        </div>
      {% else %}
        <div class="card mb-3">
          <div class="card-header">{% trans %}Iniciar sessão{% endtrans %}</div>
          <div class="card-body">
            <form method="POST" action="">
              {% include "admin/includes/forms.html" %}
              <button class="btn btn-primary float-right" type="submit">{% trans %}Enviar{% endtrans %}</button>
            </form>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('.reset') }}">{% trans %}Esqueci a senha?{% endtrans %}</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock body %}
