{% extends 'admin/opac_base.html' %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card mb-3">
        <div class="card-header">{% trans %}Recuperar a senha{% endtrans %}</div>
        <div class="card-body">
          <form method="POST" action="{{ url_for('.reset_with_token', token=token) }}">
            {% include "admin/includes/forms.html" %}
            <button class="btn btn-primary float-right" type="submit">{% trans %}Enviar{% endtrans %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
