<section class="cover-about" id="content" style="background-image: url('/media/images/cover-about-min.original.jpg')">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-3">
                                <li class="breadcrumb-item"><a href="home.html"><small>Home</small></a></li>
                                <li class="breadcrumb-item active" aria-current="page"><small>Sobre</small></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </section>      
    <section class="about-the-institute pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1 col-lg-5">
                    <h2 class="mb-title mb-4">
                        Apoie o <strong>Música Brasilis</strong> com uma doação
                    </h2>
                    <p>
                        01/01/2026 - Apesar do interesse mundial pela música brasileira, a maior parte de nossos repertórios está inacessível, ainda sob a forma de manuscritos arquivados em bibliotecas, cujos acervos só podem consultados presencialmente. Essa foi a razão que levou à criação do Instituto Musica Brasilis em 2009. A principal missão tem sido divulgar a música brasileira, através da disponibilidade gratuita de partituras de obras de grandes compositores.
                    </p>
                    <p>
                        A sua ajuda é fundamental nessa nova etapa! Qualquer quantia é bem-vinda e seu nome estará entre os benfeitores do Musica Brasilis.
                    </p>
                    <p>
                        Entre em contato pelo email contato@musicabrasilis.org.br se tiver alguma dúvida.
                    </p>
                </div>
                <div class="col-10 offset-1 col-lg-4 --offset-lg-2 pt-5 pb-5">
                    
                    <div class="doodle doodle-sobre mt-lg-5 mt-xl-5">
                        <div class="layer layer1" data-depth="1"></div>
                        <div class="layer layer2" data-depth="2"></div>
                        <div class="layer layer3" data-depth="2"></div>
                        <div class="layer layer4" data-depth="2"></div>
                        <div class="layer layer5" data-depth="2"></div>
                        <div class="layer layer6" data-depth="2"></div>
                    </div>

                </div>
                <div class="col-10 offset-1 my-3">
                    <hr>
                </div>
                <div class="col-10 offset-1">
                    <h2 class="mb-title mb-4">
                        Como doar: 
                    </h2>
                </div>
                <div class="col-10 offset-1 col-lg-5">
                    
                    <p>
                        Para doar, basta apontar a câmera do seu celular para o QR Code abaixo:
                        <img src="/static/img/mbpix.png" alt="QR code para doação via Pix" class="img-fluid" mt-3 mb-3>
                        </br>
                        11.024.672/0001-53
                    </p>
                    
                </div>
                <div class="col-10 offset-1 col-lg-4">
                    <p class="mt-10">
                        O Música Brasilis preserva, organiza e disponibiliza gratuitamente partituras e conteúdos sobre a música brasileira.
Com sua doação via PayPal, você ajuda a manter a plataforma no ar, ampliar o acervo e sustentar o trabalho de pesquisa, catalogação e digitalização.
                        <form action="https://www.paypal.com/donate" method="post" target="_blank">
                            <input type="hidden" name="hosted_button_id" value="4T6WK5P76FVFW" />
                            <input type="image" src="https://pics.paypal.com/00/s/MTNmMzdmOTUtZDk1NC00ZDA1LWE1ODItYThkMDg1MjEwOTNh/file.JPG" border="0" name="submit" title="{% trans 'Quero doar com PayPal' %}" alt="{% trans 'Faça doações com o botão do PayPal' %}" />
                            <img alt="" border="0" src="https://www.paypal.com/pt_BR/i/scr/pixel.gif" width="1" height="1" />
                        </form>
                    </p>
                </div>
                
            </div>
        </div>
    </section>
