<a id="btnTop"
   class="btn btn-primary btn-float-gotop"
   href="#top"
   aria-label="{% trans %}Ir para o topo{% endtrans %}"
   style="opacity: 1;">
    <span class="material-icons-outlined mt-2" aria-hidden="true">
        vertical_align_top
    </span>
    <span class="visually-hidden">{% trans %}Ir para o topo{% endtrans %}</span>
</a>

<script>
    
    // Mostrar o botão ao rolar
    const btnTop = document.getElementById("btnTop");

    window.addEventListener("scroll", () => {
      if (window.scrollY > 200) {
        btnTop.style.display = "block";
      } else {
        btnTop.style.display = "none";
      }
    });

    // Rolar suavemente até o topo ao clicar
    btnTop.addEventListener("click", () => {
      window.scrollTo({ top: 0, behavior: "smooth" });
    });
  </script>