<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="h4 modal-title">{% trans %}Acessibilidade / Reportar Erro {% endtrans %}</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        

        <form action="" method="POST" id="error_form_id">

            {{ g.error.csrf_token() }}

            {{ g.error.url(value=url) }}

            {{ g.error.page_title(value="") }}


            <div class="modal-body">

                <div class="mb-0">
                    <label class="form-label">{% trans %}Seu Nome{% endtrans %} *</label>
                    {{ g.error.name(class="form-control valid", placeholder=_("Digite seu Nome")) }}
                    <label class="form-label" id="{{g.error.name.name}}_error"></label>
                </div>

                <div class="mb-0">
                  <label class="form-label">{% trans %}Seu e-mail{% endtrans %} *</label>
                    {{ g.error.your_email(class="form-control valid", placeholder=_("Digite seu e-mail")) }}
                  <label class="form-label" id="{{g.error.your_email.name}}_error"></label>
                </div>

                <div class="mb-0">
                    <label class="form-label">{% trans %}Erro referente a{% endtrans %}:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="error_type" id="error_type1" value="acessibility" checked>
                        <label class="form-check-label" for="error_type1">{% trans %}acessibilidade{% endtrans %}</label>
                        <span class="form-text d-block mb-3">{% trans %}(por favor, considere responder ao {% endtrans %} <a target="_blank" href="{{ config.get('ACCESSIBILITY_BY_LANGUAGE').get(session.get('lang', config.get('BABEL_DEFAULT_LOCALE')))}}">{% trans %}nosso questionário para mapear o perfil dos usuários do site SciELO - link externo{% endtrans %}</a>)</span>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="error_type" id="error_type2" value="other">
                        <label class="form-check-label" for="error_type2">{% trans %}outro tipo de erro{% endtrans %} *</label>
                        <span class="form-text d-block">* {% trans %}Caso o erro esteja no conteúdo de um documento e apresente-se também na versão em PDF do mesmo documento, por favor não utilize este formulário. Entre em contato com o periódico que publicou o documento e reporte o erro diretamente a ele.{% endtrans %}</span>
                    </div>
                    <label class="form-label" id="{{g.error.error_type.name}}_error"></label>
                </div>

                <div class="mb-3">
                    <label class="form-label">{% trans %}Descrição do erro{% endtrans %}:</label>
                    {{ g.error.message(class="form-control valid", placeholder=_("Digite sua mensagem"), rows="10") }}
                    <label class="form-label" id="{{g.error.message.name}}_error"></label>
                    <span class="form-text">{% trans %}Obs.: Link e título da página são enviados automaticamente{% endtrans %}.</span>
                </div>

                <div class="mb-3">
                    <div id="error_captcha_id"></div>
                </div>

            </div>

            <div class="modal-footer">
                <div class="btn-block">
                    <input type="submit" name="s" value="{% trans %}Enviar{% endtrans %} " class="btn btn-primary mb-0" id="error_submit_btn_id">
                </div>
            </div>

        </form>
    </div>
</div>

<script>

  $('#page_title').val(document.title);

  var error_form = Object.create(ModalForms);

  error_form.init(
    "#error_modal_id",
    "#error_form_id",
    "{{ url_for('main.email_error_ajax') }}",
    "POST",
    "#error_submit_btn_id",
    true,
    "{{ config.get('GOOGLE_RECAPTCHA_SECRET_KEY') }}",
    "error_captcha_id",
    "light",
    "#error_modal_confirm_id",
    "{% trans %}Email de erro enviado com sucesso.{% endtrans %}",
    "{% trans %}Erro ao tentar enviar e-mail, por favor tente mais tarde.{% endtrans %}"
  );

</script>
