<footer>
	<section class="address-scielo pt-4 pb-4 mt-5">
		<div class="container">
			<div class="row">
				<div class="col col-12 col-sm-2 text-center">
					<div class="scielo__logo-scielo--small" alt="Logo SciELO"></div>
				</div>
				<div class="col col-12 col-sm-10 text-center text-sm-start">
					<p><small><strong> SciELO - Scientific Electronic Library Online</strong></small></p>
					<p><small>{{ g.collection.address1 or '' }}<br/>
						{{ g.collection.address2 or '' }}</small></p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col text-center mt-4 mb-4">
				{% if g.collection and g.collection.sponsors %}
					{% for sponsor in g.collection.sponsors|sort(attribute='order') %}
						{% if sponsor.url and sponsor.logo_url %}
						<a href="{{ sponsor.url }}" target="_blank" class="mx-4 my-2 d-inline-block">
							{% if sponsor.logo_url %}
								<img src="{{ sponsor.logo_url }}" alt="{{ sponsor.name }}">
							{% else %}
								{{ sponsor.name }}
							{% endif %}
						</a>
						{% elif sponsor.logo_url %}
						<img src="{{ sponsor.logo_url }}" alt="{{ sponsor.name }}">
						{% else %}
						{{ sponsor.name }}
						{% endif %}
					{% endfor %}
				{% endif %}
				</div>
			</div>
		</div>
	</section> 
	<section>
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="text-center"><a href="{{ url_for('.about_collection') }}"><img src="{{ url_for('static', filename='img/logo-open-access.svg', _external=True) }}" alt="{% trans %}Open Access{% endtrans %}" class="logo-open-access"></a> <a href="{{ url_for('.about_collection') }}">{% trans %}Leia{% endtrans %}</a> {% trans %}a Declaração de Acesso Aberto{% endtrans %}</p>
				</div>
			</div>
		</div> 
	</section>	
</footer>
