<style>
	.scielo__logo-partner{
      max-height: 50px;
      max-width: 170px;
    }
    .scielo__logo-partner--dark{
      display:none;
    }
    .scielo__theme--dark .scielo__logo-partner--light{
      display:none;
    }
	.scielo__theme--dark .scielo__logo-partner--dark{
      display:inline-block;
    }
</style>

<footer>
	<section class="address-scielo pt-4 pb-4 mt-5">
		<div class="container">
			<div class="row">
				<div class="col col-12 col-sm-2 text-center">
					<div class="scielo__logo-scielo--small" alt="Logo SciELO"></div>
				</div>
				<div class="col col-12 col-sm-8 text-center text-sm-start">
					<p><small><strong> SciELO - Scientific Electronic Library Online</strong></small></p>
					<p><small>{{ g.collection.address1 or '' }}<br/>
						{{ g.collection.address2 or '' }}</small></p>
						<div>
							<!-- 
								Fix me:
								
								Criar configuração para verificar se deve ou não ser exibido 
								o ícone da rede social e url correta de cada rede.
								
							-->
							<ul class="list-unstyled justify-content-center justify-content-sm-start d-flex mt-3 mb-0 scielo__social-network-links">
								<li class="me-2">
									<a href="https://bsky.app/profile/scielo.org" target="_blank" aria-label="BlueSky">
										<i class="icon-bluesky"></i>
									</a>
								</li>
								<li class="me-2">
									<a href="https://openbiblio.social/@scielo" target="_blank" aria-label="Mastodon">
										<i class="icon-mastodon"></i>
									</a>
								</li>
								<li class="me-2">
									<a href="https://www.linkedin.com/company/scielo---scientific-electronic-library-online/?originalSubdomain=br" target="_blank" aria-label="LinkedIn">
										<i class="icon-linkedin"></i>
									</a>
								</li>
								<li class="me-2">
									<a href="https://www.facebook.com/SciELONetwork" target="_blank" aria-label="Facebook">
										<i class="icon-facebook"></i>
									</a>
								</li>
								<li>
									<a href="https://www.youtube.com/c/SciELONetwork" target="_blank" aria-label="Youtube">
										<i class="icon-youtube"></i>
									</a>
								</li>
							</ul>
						</div>
				</div>
				<div class="col col-12 col-sm-2 text-center">
					{% if config.SITE_LICENSE_ENABLE %}
					<div class="container-license">
						<div class="row">
							<div class="col-sm-3 col-md-2">
								<a href="{{config.SITE_LICENSE_URL}}" target="_blank" title="" rel="license"><img
										src="{{config.SITE_LICENSE_IMG_URL}}" alt="{{config.SITE_LICENSE_NAME}}">
								</a>
							</div>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col partners text-center my-4">
					<a href="http://www.capes.gov.br/" class="mx-4 my-2" target="_blank"><img src="{{ url_for('static', filename='img/logo-capes.svg')}}" class="scielo__logo-partner scielo__logo-partner--light " alt="CAPES"><img src="{{ url_for('static', filename='img/logo-capes--dark.svg')}}" class="scielo__logo-partner scielo__logo-partner--dark" alt="CAPES"></a>
					<a href="http://www.cnpq.br/" class="mx-4 my-2" target="_blank"><img src="{{ url_for('static', filename='img/logo-cnpq.svg')}}" class="scielo__logo-partner scielo__logo-partner--light" alt="CNPq"><img src="{{ url_for('static', filename='img/logo-cnpq--dark.svg')}}" class="scielo__logo-partner scielo__logo-partner--dark" alt="CNPq"></a>
					<a href="http://www.fapesp.br/" class="mx-4 my-2" target="_blank"><img src="{{ url_for('static', filename='img/logo-fapesp.svg')}}" class="scielo__logo-partner scielo__logo-partner--light " alt="FAPESP"><img src="{{ url_for('static', filename='img/logo-fapesp--dark.svg')}}" class="scielo__logo-partner scielo__logo-partner--dark " alt="FAPESP"></a>
					<a href="http://bvsalud.org/" class="mx-4 my-2" target="_blank"><img src="{{ url_for('static', filename='img/logo-bvs.svg')}}" class="scielo__logo-partner scielo__logo-partner--light" alt="BVS"><img src="{{ url_for('static', filename='img/logo-bvs.svg')}}" class="scielo__logo-partner scielo__logo-partner--dark" alt="BVS" style="background: white;"></a>
					<a href="http://regional.bvsalud.org/bvs/bireme/homepage.htm" class="mx-4 my-2" target="_blank"><img src="{{ url_for('static', filename='img/logo-bireme.svg')}}" class="scielo__logo-partner scielo__logo-partner--light " alt="BIREME"><img src="{{ url_for('static', filename='img/logo-bireme--dark.svg')}}" class="scielo__logo-partner scielo__logo-partner--dark " alt="BIREME"></a>
					<a href="https://www.fapunifesp.edu.br/" class="mx-4 my-2" target="_blank"><img src="{{ url_for('static', filename='img/logo-fap.svg')}}" class="scielo__logo-partner scielo__logo-partner--light" alt="FAP-UNIFESP"><img src="{{ url_for('static', filename='img/logo-fap--dark.svg')}}" class="scielo__logo-partner scielo__logo-partner--dark" alt="FAP-UNIFESP"></a> 
				</div>
			</div>
			<div class="row d-none">
				<div class="col text-center mt-4 mb-4">
				{% if g.collection and g.collection.sponsors %}
					{% for sponsor in g.collection.sponsors|sort(attribute='order') %}
						{% if sponsor.url and sponsor.logo_url %}
						<a href="{{ sponsor.url }}" target="_blank" class="mx-4 my-2 d-inline-block">
							{% if sponsor.logo_url %}
								<img src="{{ sponsor.logo_url }}" alt="{{ sponsor.name }}">
							{% else %}
								{{ sponsor.name }}
							{% endif %}
						</a>
						{% elif sponsor.logo_url %}
						<img src="{{ sponsor.logo_url }}" alt="{{ sponsor.name }}">
						{% else %}
						{{ sponsor.name }}
						{% endif %}
					{% endfor %}
				{% endif %}
				</div>
			</div>
		</div>
	</section> 
	<section>
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="text-center"><a href="{{ url_for('.about_collection') }}"><img src="{{ url_for('static', filename='img/logo-open-access.svg', _external=True) }}" alt="{% trans %}Open Access{% endtrans %}" class="me-1 logo-open-access">{% trans %}Leia{% endtrans %}</a> {% trans %}a Declaração de Acesso Aberto{% endtrans %}</p>
				</div>
			</div>
		</div> 
	</section>	
</footer>
