<footer>
	<section class="address-scielo">
		<div class="container">
			<div class="row">
				<div class="col col-12 col-sm-2 text-center">
					<div class="scielo__logo-scielo--small" alt="Logo SciELO"></div>
				</div>
				<div class="col col-12 col-sm-10 text-center text-sm-start">
					<p><small><strong> SciELO - Scientific Electronic Library Online</strong></small></p>
					<p><small>Av. Onze de Junho, 269 - Vila Clementino 04041-050 São Paulo SP - Brasil</small></p>
					<p><small>E-mail: scielo@scielo.org</small></p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
		
			<div class="row">
				<div class="col partners text-center">
					<a href="http://www.fapesp.br/" target="_blank"><img src="{{ url_for('static', filename='img/logo-footer-fapesp.svg', _external=True) }}" alt="FAPESP"></a>
					<a href="http://www.capes.gov.br/" target="_blank"><img src="{{ url_for('static', filename='img/logo-footer-capes.svg', _external=True) }}" height="27" alt="CAPES"></a>
					<a href="http://www.cnpq.br/" target="_blank"><img src="{{ url_for('static', filename='img/logo-footer-cnpq.svg', _external=True) }}" alt="CNPq"></a>
					<a href="http://bvsalud.org/" target="_blank"><img src="{{ url_for('static', filename='img/logo-footer-bvs.svg', _external=True) }}" alt="BVS"></a>
					  <a href="http://regional.bvsalud.org/bvs/bireme/homepage.htm" target="_blank"><img src="{{ url_for('static', filename='img/logo-footer-bireme.svg', _external=True) }}" alt="BIREME"></a>
					<a href="https://www.fapunifesp.edu.br/" target="_blank"><img src="{{ url_for('static', filename='img/logo-footer-fap.svg', _external=True) }}" alt="FAP-UNIFESP"></a>
				  </div>
			</div>
		</div>
	</section> 
	<section>
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="text-center"><a href="{{ url_for('.about_collection') }}"><img src="{{ url_for('static', filename='img/logo-open-access.svg', _external=True) }}" alt="{% trans %}Open Access{% endtrans %}" class="logo-open-access"></a> <a href="{{ url_for('.about_collection') }}">{% trans %}Leia{% endtrans %}</a> {% trans %}a Declaração de Acesso Aberto{% endtrans %}</p>
				  </div>
			</div>
		</div> 
	</section>	
</footer>
