 <!-- share -->
 <div class="dropdown">
  <button type="button" class="btn btn-sm btn-secondary scielo__btn-with-icon--only dropdown-toggle mb-0 float-end" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="material-icons-outlined">share</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li>
      <div class="a2a_kit a2a_kit_size_24"><a class="d-flex gap-2 dropdown-item a2a_button_whatsapp">Whatsapp</a></div>
    </li>
    <li>
      <div class="a2a_kit a2a_kit_size_24"><a class="d-flex gap-2 dropdown-item a2a_button_bluesky">BlueSky</a></div> 
    </li>
    <li>
      <div class="a2a_kit a2a_kit_size_24"><a class="d-flex gap-2 dropdown-item a2a_button_mastodon">Mastodon</a></div> 
    </li>
    <li>
      <div class="a2a_kit a2a_kit_size_24"><a class="d-flex gap-2 dropdown-item a2a_button_facebook">Facebook</a></div> 
    </li>
    <li>
      <div class="a2a_kit a2a_kit_size_24"><a class="d-flex gap-2 dropdown-item a2a_dd" href="https://www.addtoany.com/share">{% trans %}Mais{% endtrans %}</a></div>
    </li>
  </ul>
</div>

<!-- AddToAny -->
<script async src="https://static.addtoany.com/menu/page.js"></script>