{% import 'macros/collection.html' as coll_macro %}

<header>
  <div class="container">
    <div class="row topFunction">
      
      <div class="col-12 col-sm-4 col-md-3 mainNav">
          <a href="#" class="menu" data-rel=".mainMenu" title="Abrir menu">{% trans %}Abrir menu{% endtrans %}</a>
          <div class="mainMenu">
          {% include "collection/includes/nav.html" %}
          </div>
      </div>
      <div class="col-12 col-sm-4 col-md-6 brandLogo text-center">
        
        <div class="scielo__logo-scielo-caption">
          <small>Brasil</small>
        </div>
        
      </div>
      <div class="col-12 col-sm-4 col-md-3">
        {% include "includes/language.html" %}
      </div>
     
    </div>
  </div>
</header>
