{% for journal in journals_list %}
  <tr>
    <td colspan="2">
      {% if journal.is_active %} 
        <span class="material-icons" style="color: #2c9d45; vertical-align:sub;font-size:20px;">fiber_manual_record</span>
      {% endif %}
      {% if not journal.is_active %} 
        <span class="material-icons" style="color: #c63800; vertical-align:sub;font-size:20px;">fiber_manual_record</span>
      {% endif %}
      <a title="{% trans %}Título do periódico{% endtrans %}"
         class="collectionLink {% if not journal.is_active %} disabled {% endif %}" href="{{ journal.links.detail }}">
        <strong class="journalTitle">{{ journal.title }}</strong>,
      </a>
      <br class="d-block d-lg-none">
      <a title="{% trans %}Grade de número{% endtrans %}"
         href="{{ journal.links.issue_grid }}">
        {{ journal.issues_count }} {% trans %}números{% endtrans %}{% if journal.is_active %}, {% else %} - {% endif %}
      </a>

      {% if journal.last_issue %}
        <a href="/{{ journal.last_issue.url_segment }}"
          title="{% trans %}Número mais recente{% endtrans %}">
          {% trans %}Último{% endtrans %}:
          <span class="last-issue-legend">{{ journal.last_issue.legend }}</span>
        </a>
      {% endif %}

      {% if not journal.is_active %}
        ({{ journal.status_reason }})
          {% if journal.next_title %}
          <span class="journalPreviousTitle">{% trans %}Continua como {% endtrans %}
               {% if journal.url_next_journal %}
                <a href="{{ journal.url_next_journal }}" class="NewCollectionLink">
                    {{ journal.next_title }}
                </a>
              {% else %}
                <span class="NewCollectionLink">
                  {{ journal.next_title }}
                </span>
              {% endif %}
          </span>
          {% endif %}
        {% endif %}

        
        <div class="d-block mt-2">
          <a class="btn btn-secondary scielo__btn-with-icon--only" data-toggle="tooltip" href="{{ journal.links.detail }}" title="{% trans %}Homepage{% endtrans %}"><span class="material-icons-outlined">home</span></a>
          {% if journal.is_active  %}
            <a class="btn btn-secondary scielo__btn-with-icon--only" data-toggle="tooltip" href="{{ journal.links.submission }}" title="{% trans %}Submissão de manuscritos{% endtrans %}" target="_blank"><span class="material-icons-outlined">launch</span></a>
            <a class="btn btn-secondary scielo__btn-with-icon--only" data-toggle="tooltip" href="{{ journal.links.editors }}" title="{% trans %}Corpo Editorial{% endtrans %}"><span class="material-icons-outlined">people</span></a>
            <a class="btn btn-secondary scielo__btn-with-icon--only" data-toggle="tooltip" href="{{ journal.links.instructions }}" title="{% trans %}Instruções aos autores{% endtrans %}"><span class="material-icons-outlined">help_outline</span></a>
            <a class="btn btn-secondary scielo__btn-with-icon--only" data-toggle="tooltip" href="{{ journal.links.about }}" title="{% trans %}Sobre o periódico{% endtrans %}"><span class="material-icons-outlined">info</span></a>
            <a class="btn btn-secondary scielo__btn-with-icon--only" data-toggle="tooltip" href="{{ journal.links.contact }}" title="{% trans %}Contato{% endtrans %}"><span class="material-icons-outlined">markunread</span></a>
          {% endif %}
        </div>

    </td>
  </tr>
{% endfor %}