{% import 'macros/collection.html' as coll_macro %}

<section class="scielo__search-articles mb-5">
  <div class="container">
    <form class="visually-hidden" method="get" action="{{ config.URL_SEARCH }}" id="searchForm" name="searchForm">
      <input type="hidden" name="q" id="q" value="">
      <input type="hidden" name="lang" id="lang" value="{% if session.lang %}{{ session.lang[:2] }}{% endif %}">
      <input type="hidden" name="filter[in][]" value="{{ config.OPAC_COLLECTION }}">
      <button type="submit">Enviar</button>
    </form>
    <form name="searchFormBuilder" action="{{ config.URL_SEARCH }}" method="get" class="searchForm searchFormBuilder">
      <div class="row">
          <div class="col-12 col-md-8 col-lg-10">
              
              <div class="row">
                  <div class="col">

                      <div class="input-group">
                        <label for="q-field" class="visually-hidden">
                          {% trans %}Entre uma ou mais palavras{% endtrans %}
                        </label>
                        <textarea id="q-field" name="q[]" placeholder="{% trans %}Entre uma ou mais palavras{% endtrans %}" rows="1" class="form-control"></textarea>
                        <a href="javascript:;" class="clearIptText showTooltip" title="Limpar expressão" style="display: none;"></a> 
                          
                          <div class="input-group-append">
                            <select name="index[]" class="form-select">
                              <option value="">{% trans %}Todos os índices{% endtrans %}</option>
                              <option value="year_cluster">{% trans %}Ano{% endtrans %}</option>
                              <option value="au">{% trans %}Autor{% endtrans %}</option>
                              <option value="sponsor">{% trans %}Financiador{% endtrans %}</option>
                              <option value="ta">{% trans %}Periódico{% endtrans %}</option>
                              <option value="ab">{% trans %}Resumo{% endtrans %}</option>
                              <option value="ti">{% trans %}Título{% endtrans %}</option>
                            </select>
                          </div>
                      </div>

                  </div>
              </div>

              <!-- begin dinamic row -->
              <div class="scielo__dinamic-row">
              </div>
              <!-- end dinamic row -->


              <div class="row">
                  <div class="col-12 text-end">
                      
                      <a href="#" class="addRowBtn d-block d-md-inline-block btn btn-link ps-0 pe-0 my-0">
                        {% trans %}Adicionar outro campo{% endtrans %}
                      </a>
                      
                  </div>
              </div>
              
              <div class="row d-sm-none">
                  <div class="col">
                      <hr>
                  </div>
              </div>

          </div>
          <div class="col-12 col-md-4 col-lg-2 d-grid gap-2">
              <input type="submit" value="{% trans %}Buscar{% endtrans %}" class="btn btn-primary">
          </div>
      </div>
    </form>
  </div>
</section>


<div class="modal fade" id="NotFound" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="visually-hidden">Close</span></button>
        <h2 class="h4 modal-title">{% trans %}Sem resultados{% endtrans %}</h2>
      </div>
      <div class="modal-body">
        <div class="midGlyph alert">
          {% trans %}Não foram encontrados documentos para sua pesquisa{% endtrans %}
        </div>
      </div>
    </div>
  </div>
</div>

