{% import 'macros/menu.html' as mmenu %}
{% import 'macros/collection.html' as coll_macro %}

<section class="breadcrumb mt-3">
  <div class="container">
    <div class="row">
      <div class="col-9">

        {% if page %}
  
          <ol class="breadcrumb">
              <li><a href="{{ url_for('.index') }}">{% trans %}Home{% endtrans %}</a></li>
              <li><a href="{{ url_for('.about_collection') }}">{% trans %}Sobre o SciELO{% endtrans %} {{ coll_macro.get_collection_name() }}</a></li>
              <li>{{ page }}</li>
          </ol>
  
          <h1 class="breadTitle">{{ page }}</h1>
  
        {% else %}
  
          {#
          <ol class="breadcrumb">
            <li>
              <a href="{{ url_for('.index') }}">{% trans %}Home{% endtrans %}</a>
            </li>
          </ol>
          #}
  
          {% if pages %}
            <h1 class="h4 pt-1 mb-0"> {% trans %}Sobre o SciELO{% endtrans %} {{ coll_macro.get_collection_name() }}</h1>
          {% else %}
            <h1 class="h4 pt-1 mb-0"> {% trans %}Periódicos{% endtrans %}</h1>
          {% endif %}
  
        {% endif %}
  
      </div>
      <div class="col-3 pt-1">
        
          <!-- share --> 
          {% include "includes/share.html" %}
        
      </div>
    </div>
  </div>
</section>
